{
 "cells": [
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-09-10T01:38:18.807852Z",
     "start_time": "2025-09-10T01:38:16.161494Z"
    }
   },
   "cell_type": "code",
   "source": [
    "!pip install pandas\n",
    "!pip install psycopg2"
   ],
   "id": "67787cee227f1dd7",
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Requirement already satisfied: pandas in c:\\users\\pc2\\appdata\\roaming\\jetbrains\\dataspell2025.2\\projects\\workspace\\.venv\\lib\\site-packages (2.3.2)\n",
      "Requirement already satisfied: numpy>=1.26.0 in c:\\users\\pc2\\appdata\\roaming\\jetbrains\\dataspell2025.2\\projects\\workspace\\.venv\\lib\\site-packages (from pandas) (2.3.3)\n",
      "Requirement already satisfied: python-dateutil>=2.8.2 in c:\\users\\pc2\\appdata\\roaming\\jetbrains\\dataspell2025.2\\projects\\workspace\\.venv\\lib\\site-packages (from pandas) (2.9.0.post0)\n",
      "Requirement already satisfied: pytz>=2020.1 in c:\\users\\pc2\\appdata\\roaming\\jetbrains\\dataspell2025.2\\projects\\workspace\\.venv\\lib\\site-packages (from pandas) (2025.2)\n",
      "Requirement already satisfied: tzdata>=2022.7 in c:\\users\\pc2\\appdata\\roaming\\jetbrains\\dataspell2025.2\\projects\\workspace\\.venv\\lib\\site-packages (from pandas) (2025.2)\n",
      "Requirement already satisfied: six>=1.5 in c:\\users\\pc2\\appdata\\roaming\\jetbrains\\dataspell2025.2\\projects\\workspace\\.venv\\lib\\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)\n",
      "Requirement already satisfied: psycopg2 in c:\\users\\pc2\\appdata\\roaming\\jetbrains\\dataspell2025.2\\projects\\workspace\\.venv\\lib\\site-packages (2.9.10)\n"
     ]
    }
   ],
   "execution_count": 4
  },
  {
   "cell_type": "code",
   "id": "initial_id",
   "metadata": {
    "collapsed": true,
    "ExecuteTime": {
     "end_time": "2025-09-10T01:38:29.264179Z",
     "start_time": "2025-09-10T01:38:28.891637Z"
    }
   },
   "source": [
    "import psycopg2\n",
    "import pandas as pd\n"
   ],
   "outputs": [],
   "execution_count": 5
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-09-09T04:02:28.207130Z",
     "start_time": "2025-09-09T04:02:28.194882Z"
    }
   },
   "cell_type": "code",
   "source": [
    "DB_CONFIG = {\n",
    "    'host': 'localhost',\n",
    "    'port': 5432,\n",
    "    'user': 'auser',\n",
    "    'password': 'Practica1_g4',\n",
    "    'dbname': 'postgres'\n",
    "}\n",
    "DB_ANOMALIAS = 'postgres'\n",
    "CSV_PATH = ['/Users/fernandocalderon05/Escritorio2/UIDE/MAESTRIA/4. INTELIGENCIA DE NEGOCIOS/PRACTICA 1/Practica1_G4/IN_P1_G4/dataset/population_data.csv']\n",
    "BATCH_SIZE = 10\n",
    "MAX_WORKERS = 10"
   ],
   "id": "d8825cd4dc1a87c2",
   "outputs": [],
   "execution_count": 2
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-09-09T04:02:35.869902Z",
     "start_time": "2025-09-09T04:02:35.860385Z"
    }
   },
   "cell_type": "code",
   "source": [
    "def verificar_conexion():\n",
    "    try:\n",
    "        with psycopg2.connect(**DB_CONFIG) as conn:\n",
    "            with conn.cursor() as cur:\n",
    "                cur.execute(\"SELECT 1;\")\n",
    "                _ = cur.fetchone()\n",
    "        print(\"✅ Conexión exitosa a PostgreSQL.\")\n",
    "    except Exception as e:\n",
    "        print(f\"❌ Error al conectar: {e}\")"
   ],
   "id": "6ef58c92032e31de",
   "outputs": [],
   "execution_count": 3
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-09-09T04:02:38.626929Z",
     "start_time": "2025-09-09T04:02:38.622293Z"
    }
   },
   "cell_type": "code",
   "source": [
    "def crear_tabla(column_names, tabla='population'):\n",
    "    columns_str = ', '.join([f'\"{col}\" VARCHAR(100)' for col in column_names])\n",
    "    sql = f\"CREATE TABLE IF NOT EXISTS {tabla} (id SERIAL PRIMARY KEY,{columns_str});\"\n",
    "    try:\n",
    "        with psycopg2.connect(**DB_CONFIG) as conn:\n",
    "            with conn.cursor() as cur:\n",
    "                cur.execute(sql)\n",
    "                conn.commit()\n",
    "        print(\"✅ Tabla creada.\")\n",
    "    except Exception as e:\n",
    "        print(f\"❌ Error al crear la tabla: {e}\")"
   ],
   "id": "12d87a98ae064844",
   "outputs": [],
   "execution_count": 4
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-09-09T04:02:41.448133Z",
     "start_time": "2025-09-09T04:02:41.442784Z"
    }
   },
   "cell_type": "code",
   "source": [
    "def consulta_a_dataframe(query, params=None):\n",
    "    try:\n",
    "        with psycopg2.connect(**DB_CONFIG) as conn:\n",
    "            df = pd.read_sql_query(query, conn, params=params)\n",
    "        print(\"✅ Consulta ejecutada con éxito.\")\n",
    "        return df\n",
    "    except Exception as e:\n",
    "        print(f\"❌ Error al ejecutar consulta: {e}\")\n",
    "        return pd.DataFrame()  # retorna vacío si falla"
   ],
   "id": "8400af029aa2d6f",
   "outputs": [],
   "execution_count": 5
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-09-09T04:02:43.965402Z",
     "start_time": "2025-09-09T04:02:43.958580Z"
    }
   },
   "cell_type": "code",
   "source": [
    "def insertar_registros(data, tabla='population'):\n",
    "    try:\n",
    "        # Columnas entre comillas dobles si tienen espacios o mayúsculas\n",
    "        columnas = ', '.join([f'\"{col}\"' for col in data.columns])\n",
    "        placeholders = ', '.join(['%s'] * len(data.columns))\n",
    "        sql = f\"INSERT INTO {tabla} ({columnas}) VALUES ({placeholders});\"\n",
    "        with psycopg2.connect(**DB_CONFIG) as conn:\n",
    "            with conn.cursor() as cur:\n",
    "                for row in data.itertuples(index=False, name=None):\n",
    "                    cur.execute(sql, row)\n",
    "            conn.commit()\n",
    "\n",
    "        print(f\"✅ Insertados {len(data)} registros.\")\n",
    "\n",
    "    except Exception as e:\n",
    "        print(f\"❌ Error al insertar dato: {e}\")"
   ],
   "id": "ed786a1e7a8d8ab7",
   "outputs": [],
   "execution_count": 6
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-09-09T04:04:20.786656Z",
     "start_time": "2025-09-09T04:04:20.555803Z"
    }
   },
   "cell_type": "code",
   "source": [
    "def main():\n",
    "    try:\n",
    "        verificar_conexion()\n",
    "\n",
    "        print(\"⏳ Leyendo archivo CSV...\")\n",
    "        for csv_path in CSV_PATH:\n",
    "            df = pd.read_csv(csv_path, delimiter=',', encoding='utf-8')\n",
    "            column_names = df.columns.tolist()\n",
    "            crear_tabla(column_names)\n",
    "            insertar_registros(df)\n",
    "        print(\"⏳ Insertando registros en la base de datos...\")\n",
    "    except Exception as e:\n",
    "        print(f\"❌ Error en el proceso principal: {e}\")\n",
    "\n",
    "if __name__ == '__main__':\n",
    "    main()"
   ],
   "id": "5a82fd5931320162",
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "✅ Conexión exitosa a PostgreSQL.\n",
      "⏳ Leyendo archivo CSV...\n",
      "✅ Tabla creada.\n",
      "✅ Insertados 264 registros.\n",
      "⏳ Insertando registros en la base de datos...\n"
     ]
    }
   ],
   "execution_count": 10
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "# A partir de aqui pueden hacer consultas a la base de datos y crear dataframes",
   "id": "5b18862af7cc0273"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-09-09T04:04:26.506191Z",
     "start_time": "2025-09-09T04:04:26.455688Z"
    }
   },
   "cell_type": "code",
   "source": [
    "## pueden crear varios df en base a la consulta que deseen hacer por ejemplo: df1\n",
    "df1 = consulta_a_dataframe(\"SELECT * FROM population LIMIT 5;\")\n",
    "df1.drop(columns=['Unnamed: 62'], inplace=True)\n",
    "df1.head()"
   ],
   "id": "ccd39d568318c486",
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "✅ Consulta ejecutada con éxito.\n"
     ]
    },
    {
     "name": "stderr",
     "output_type": "stream",
     "text": [
      "/var/folders/pd/0xzmj7j51p7997xsvfv18wsh0000gn/T/ipykernel_11051/1920335490.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.\n",
      "  df = pd.read_sql_query(query, conn, params=params)\n"
     ]
    },
    {
     "data": {
      "text/plain": [
       "    id Country Name Country Code     Indicator Name Indicator Code  \\\n",
       "0  530  Afghanistan          AFG  Population, total    SP.POP.TOTL   \n",
       "1  531       Angola          AGO  Population, total    SP.POP.TOTL   \n",
       "2  532      Albania          ALB  Population, total    SP.POP.TOTL   \n",
       "3  533      Andorra          AND  Population, total    SP.POP.TOTL   \n",
       "4  534   Arab World          ARB  Population, total    SP.POP.TOTL   \n",
       "\n",
       "         1960        1961        1962         1963         1964  ...  \\\n",
       "0   8996351.0   9166764.0   9345868.0    9533954.0    9731361.0  ...   \n",
       "1   5643182.0   5753024.0   5866061.0    5980417.0    6093321.0  ...   \n",
       "2   1608800.0   1659800.0   1711319.0    1762621.0    1814135.0  ...   \n",
       "3     13411.0     14375.0     15370.0      16412.0      17469.0  ...   \n",
       "4  92490932.0  95044497.0  97682294.0  100411076.0  103239902.0  ...   \n",
       "\n",
       "          2008         2009         2010         2011         2012  \\\n",
       "0   27294031.0   28004331.0   28803167.0   29708599.0   30696958.0   \n",
       "1   21759420.0   22549547.0   23369131.0   24218565.0   25096150.0   \n",
       "2    2947314.0    2927519.0    2913021.0    2905195.0    2900401.0   \n",
       "3      83861.0      84462.0      84449.0      83751.0      82431.0   \n",
       "4  339825483.0  348145094.0  356508908.0  364895878.0  373306993.0   \n",
       "\n",
       "          2013         2014         2015         2016         2017  \n",
       "0   31731688.0   32758020.0   33736494.0   34656032.0   35530081.0  \n",
       "1   25998340.0   26920466.0   27859305.0   28813463.0   29784193.0  \n",
       "2    2895092.0    2889104.0    2880703.0    2876101.0    2873457.0  \n",
       "3      80788.0      79223.0      78014.0      77281.0      76965.0  \n",
       "4  381702086.0  390043028.0  398304960.0  406452690.0  414491886.0  \n",
       "\n",
       "[5 rows x 63 columns]"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>id</th>\n",
       "      <th>Country Name</th>\n",
       "      <th>Country Code</th>\n",
       "      <th>Indicator Name</th>\n",
       "      <th>Indicator Code</th>\n",
       "      <th>1960</th>\n",
       "      <th>1961</th>\n",
       "      <th>1962</th>\n",
       "      <th>1963</th>\n",
       "      <th>1964</th>\n",
       "      <th>...</th>\n",
       "      <th>2008</th>\n",
       "      <th>2009</th>\n",
       "      <th>2010</th>\n",
       "      <th>2011</th>\n",
       "      <th>2012</th>\n",
       "      <th>2013</th>\n",
       "      <th>2014</th>\n",
       "      <th>2015</th>\n",
       "      <th>2016</th>\n",
       "      <th>2017</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>530</td>\n",
       "      <td>Afghanistan</td>\n",
       "      <td>AFG</td>\n",
       "      <td>Population, total</td>\n",
       "      <td>SP.POP.TOTL</td>\n",
       "      <td>8996351.0</td>\n",
       "      <td>9166764.0</td>\n",
       "      <td>9345868.0</td>\n",
       "      <td>9533954.0</td>\n",
       "      <td>9731361.0</td>\n",
       "      <td>...</td>\n",
       "      <td>27294031.0</td>\n",
       "      <td>28004331.0</td>\n",
       "      <td>28803167.0</td>\n",
       "      <td>29708599.0</td>\n",
       "      <td>30696958.0</td>\n",
       "      <td>31731688.0</td>\n",
       "      <td>32758020.0</td>\n",
       "      <td>33736494.0</td>\n",
       "      <td>34656032.0</td>\n",
       "      <td>35530081.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>531</td>\n",
       "      <td>Angola</td>\n",
       "      <td>AGO</td>\n",
       "      <td>Population, total</td>\n",
       "      <td>SP.POP.TOTL</td>\n",
       "      <td>5643182.0</td>\n",
       "      <td>5753024.0</td>\n",
       "      <td>5866061.0</td>\n",
       "      <td>5980417.0</td>\n",
       "      <td>6093321.0</td>\n",
       "      <td>...</td>\n",
       "      <td>21759420.0</td>\n",
       "      <td>22549547.0</td>\n",
       "      <td>23369131.0</td>\n",
       "      <td>24218565.0</td>\n",
       "      <td>25096150.0</td>\n",
       "      <td>25998340.0</td>\n",
       "      <td>26920466.0</td>\n",
       "      <td>27859305.0</td>\n",
       "      <td>28813463.0</td>\n",
       "      <td>29784193.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>532</td>\n",
       "      <td>Albania</td>\n",
       "      <td>ALB</td>\n",
       "      <td>Population, total</td>\n",
       "      <td>SP.POP.TOTL</td>\n",
       "      <td>1608800.0</td>\n",
       "      <td>1659800.0</td>\n",
       "      <td>1711319.0</td>\n",
       "      <td>1762621.0</td>\n",
       "      <td>1814135.0</td>\n",
       "      <td>...</td>\n",
       "      <td>2947314.0</td>\n",
       "      <td>2927519.0</td>\n",
       "      <td>2913021.0</td>\n",
       "      <td>2905195.0</td>\n",
       "      <td>2900401.0</td>\n",
       "      <td>2895092.0</td>\n",
       "      <td>2889104.0</td>\n",
       "      <td>2880703.0</td>\n",
       "      <td>2876101.0</td>\n",
       "      <td>2873457.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>533</td>\n",
       "      <td>Andorra</td>\n",
       "      <td>AND</td>\n",
       "      <td>Population, total</td>\n",
       "      <td>SP.POP.TOTL</td>\n",
       "      <td>13411.0</td>\n",
       "      <td>14375.0</td>\n",
       "      <td>15370.0</td>\n",
       "      <td>16412.0</td>\n",
       "      <td>17469.0</td>\n",
       "      <td>...</td>\n",
       "      <td>83861.0</td>\n",
       "      <td>84462.0</td>\n",
       "      <td>84449.0</td>\n",
       "      <td>83751.0</td>\n",
       "      <td>82431.0</td>\n",
       "      <td>80788.0</td>\n",
       "      <td>79223.0</td>\n",
       "      <td>78014.0</td>\n",
       "      <td>77281.0</td>\n",
       "      <td>76965.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>534</td>\n",
       "      <td>Arab World</td>\n",
       "      <td>ARB</td>\n",
       "      <td>Population, total</td>\n",
       "      <td>SP.POP.TOTL</td>\n",
       "      <td>92490932.0</td>\n",
       "      <td>95044497.0</td>\n",
       "      <td>97682294.0</td>\n",
       "      <td>100411076.0</td>\n",
       "      <td>103239902.0</td>\n",
       "      <td>...</td>\n",
       "      <td>339825483.0</td>\n",
       "      <td>348145094.0</td>\n",
       "      <td>356508908.0</td>\n",
       "      <td>364895878.0</td>\n",
       "      <td>373306993.0</td>\n",
       "      <td>381702086.0</td>\n",
       "      <td>390043028.0</td>\n",
       "      <td>398304960.0</td>\n",
       "      <td>406452690.0</td>\n",
       "      <td>414491886.0</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>5 rows × 63 columns</p>\n",
       "</div>"
      ]
     },
     "execution_count": 11,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 11
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-09-09T04:05:09.889502Z",
     "start_time": "2025-09-09T04:05:09.804040Z"
    }
   },
   "cell_type": "code",
   "source": [
    "df2 = consulta_a_dataframe(\"SELECT * FROM population LIMIT 15;\")\n",
    "df2.head(10)"
   ],
   "id": "ad3f9ff91ab09462",
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "✅ Consulta ejecutada con éxito.\n"
     ]
    },
    {
     "name": "stderr",
     "output_type": "stream",
     "text": [
      "/var/folders/pd/0xzmj7j51p7997xsvfv18wsh0000gn/T/ipykernel_11051/1920335490.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.\n",
      "  df = pd.read_sql_query(query, conn, params=params)\n"
     ]
    },
    {
     "data": {
      "text/plain": [
       "    id          Country Name Country Code     Indicator Name Indicator Code  \\\n",
       "0  530           Afghanistan          AFG  Population, total    SP.POP.TOTL   \n",
       "1  531                Angola          AGO  Population, total    SP.POP.TOTL   \n",
       "2  532               Albania          ALB  Population, total    SP.POP.TOTL   \n",
       "3  533               Andorra          AND  Population, total    SP.POP.TOTL   \n",
       "4  534            Arab World          ARB  Population, total    SP.POP.TOTL   \n",
       "5  535  United Arab Emirates          ARE  Population, total    SP.POP.TOTL   \n",
       "6  536             Argentina          ARG  Population, total    SP.POP.TOTL   \n",
       "7  537               Armenia          ARM  Population, total    SP.POP.TOTL   \n",
       "8  538        American Samoa          ASM  Population, total    SP.POP.TOTL   \n",
       "9  539   Antigua and Barbuda          ATG  Population, total    SP.POP.TOTL   \n",
       "\n",
       "         1960        1961        1962         1963         1964  ...  \\\n",
       "0   8996351.0   9166764.0   9345868.0    9533954.0    9731361.0  ...   \n",
       "1   5643182.0   5753024.0   5866061.0    5980417.0    6093321.0  ...   \n",
       "2   1608800.0   1659800.0   1711319.0    1762621.0    1814135.0  ...   \n",
       "3     13411.0     14375.0     15370.0      16412.0      17469.0  ...   \n",
       "4  92490932.0  95044497.0  97682294.0  100411076.0  103239902.0  ...   \n",
       "5     92634.0    101078.0    112472.0     125566.0     138529.0  ...   \n",
       "6  20619075.0  20953077.0  21287682.0   21621840.0   21953929.0  ...   \n",
       "7   1874120.0   1941491.0   2009526.0    2077575.0    2144998.0  ...   \n",
       "8     20013.0     20486.0     21117.0      21882.0      22698.0  ...   \n",
       "9     55339.0     56144.0     57144.0      58294.0      59524.0  ...   \n",
       "\n",
       "          2009         2010         2011         2012         2013  \\\n",
       "0   28004331.0   28803167.0   29708599.0   30696958.0   31731688.0   \n",
       "1   22549547.0   23369131.0   24218565.0   25096150.0   25998340.0   \n",
       "2    2927519.0    2913021.0    2905195.0    2900401.0    2895092.0   \n",
       "3      84462.0      84449.0      83751.0      82431.0      80788.0   \n",
       "4  348145094.0  356508908.0  364895878.0  373306993.0  381702086.0   \n",
       "5    7666393.0    8270684.0    8672475.0    8900453.0    9006263.0   \n",
       "6   40799407.0   41223889.0   41656879.0   42096739.0   42539925.0   \n",
       "7    2888584.0    2877311.0    2875581.0    2881922.0    2893509.0   \n",
       "8      56227.0      55637.0      55320.0      55230.0      55307.0   \n",
       "9      93581.0      94661.0      95719.0      96777.0      97824.0   \n",
       "\n",
       "          2014         2015         2016         2017 Unnamed: 62  \n",
       "0   32758020.0   33736494.0   34656032.0   35530081.0         NaN  \n",
       "1   26920466.0   27859305.0   28813463.0   29784193.0         NaN  \n",
       "2    2889104.0    2880703.0    2876101.0    2873457.0         NaN  \n",
       "3      79223.0      78014.0      77281.0      76965.0         NaN  \n",
       "4  390043028.0  398304960.0  406452690.0  414491886.0         NaN  \n",
       "5    9070867.0    9154302.0    9269612.0    9400145.0         NaN  \n",
       "6   42981515.0   43417765.0   43847430.0   44271041.0         NaN  \n",
       "7    2906220.0    2916950.0    2924816.0    2930450.0         NaN  \n",
       "8      55437.0      55537.0      55599.0      55641.0         NaN  \n",
       "9      98875.0      99923.0     100963.0     102012.0         NaN  \n",
       "\n",
       "[10 rows x 64 columns]"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>id</th>\n",
       "      <th>Country Name</th>\n",
       "      <th>Country Code</th>\n",
       "      <th>Indicator Name</th>\n",
       "      <th>Indicator Code</th>\n",
       "      <th>1960</th>\n",
       "      <th>1961</th>\n",
       "      <th>1962</th>\n",
       "      <th>1963</th>\n",
       "      <th>1964</th>\n",
       "      <th>...</th>\n",
       "      <th>2009</th>\n",
       "      <th>2010</th>\n",
       "      <th>2011</th>\n",
       "      <th>2012</th>\n",
       "      <th>2013</th>\n",
       "      <th>2014</th>\n",
       "      <th>2015</th>\n",
       "      <th>2016</th>\n",
       "      <th>2017</th>\n",
       "      <th>Unnamed: 62</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>530</td>\n",
       "      <td>Afghanistan</td>\n",
       "      <td>AFG</td>\n",
       "      <td>Population, total</td>\n",
       "      <td>SP.POP.TOTL</td>\n",
       "      <td>8996351.0</td>\n",
       "      <td>9166764.0</td>\n",
       "      <td>9345868.0</td>\n",
       "      <td>9533954.0</td>\n",
       "      <td>9731361.0</td>\n",
       "      <td>...</td>\n",
       "      <td>28004331.0</td>\n",
       "      <td>28803167.0</td>\n",
       "      <td>29708599.0</td>\n",
       "      <td>30696958.0</td>\n",
       "      <td>31731688.0</td>\n",
       "      <td>32758020.0</td>\n",
       "      <td>33736494.0</td>\n",
       "      <td>34656032.0</td>\n",
       "      <td>35530081.0</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>531</td>\n",
       "      <td>Angola</td>\n",
       "      <td>AGO</td>\n",
       "      <td>Population, total</td>\n",
       "      <td>SP.POP.TOTL</td>\n",
       "      <td>5643182.0</td>\n",
       "      <td>5753024.0</td>\n",
       "      <td>5866061.0</td>\n",
       "      <td>5980417.0</td>\n",
       "      <td>6093321.0</td>\n",
       "      <td>...</td>\n",
       "      <td>22549547.0</td>\n",
       "      <td>23369131.0</td>\n",
       "      <td>24218565.0</td>\n",
       "      <td>25096150.0</td>\n",
       "      <td>25998340.0</td>\n",
       "      <td>26920466.0</td>\n",
       "      <td>27859305.0</td>\n",
       "      <td>28813463.0</td>\n",
       "      <td>29784193.0</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>532</td>\n",
       "      <td>Albania</td>\n",
       "      <td>ALB</td>\n",
       "      <td>Population, total</td>\n",
       "      <td>SP.POP.TOTL</td>\n",
       "      <td>1608800.0</td>\n",
       "      <td>1659800.0</td>\n",
       "      <td>1711319.0</td>\n",
       "      <td>1762621.0</td>\n",
       "      <td>1814135.0</td>\n",
       "      <td>...</td>\n",
       "      <td>2927519.0</td>\n",
       "      <td>2913021.0</td>\n",
       "      <td>2905195.0</td>\n",
       "      <td>2900401.0</td>\n",
       "      <td>2895092.0</td>\n",
       "      <td>2889104.0</td>\n",
       "      <td>2880703.0</td>\n",
       "      <td>2876101.0</td>\n",
       "      <td>2873457.0</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>533</td>\n",
       "      <td>Andorra</td>\n",
       "      <td>AND</td>\n",
       "      <td>Population, total</td>\n",
       "      <td>SP.POP.TOTL</td>\n",
       "      <td>13411.0</td>\n",
       "      <td>14375.0</td>\n",
       "      <td>15370.0</td>\n",
       "      <td>16412.0</td>\n",
       "      <td>17469.0</td>\n",
       "      <td>...</td>\n",
       "      <td>84462.0</td>\n",
       "      <td>84449.0</td>\n",
       "      <td>83751.0</td>\n",
       "      <td>82431.0</td>\n",
       "      <td>80788.0</td>\n",
       "      <td>79223.0</td>\n",
       "      <td>78014.0</td>\n",
       "      <td>77281.0</td>\n",
       "      <td>76965.0</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>534</td>\n",
       "      <td>Arab World</td>\n",
       "      <td>ARB</td>\n",
       "      <td>Population, total</td>\n",
       "      <td>SP.POP.TOTL</td>\n",
       "      <td>92490932.0</td>\n",
       "      <td>95044497.0</td>\n",
       "      <td>97682294.0</td>\n",
       "      <td>100411076.0</td>\n",
       "      <td>103239902.0</td>\n",
       "      <td>...</td>\n",
       "      <td>348145094.0</td>\n",
       "      <td>356508908.0</td>\n",
       "      <td>364895878.0</td>\n",
       "      <td>373306993.0</td>\n",
       "      <td>381702086.0</td>\n",
       "      <td>390043028.0</td>\n",
       "      <td>398304960.0</td>\n",
       "      <td>406452690.0</td>\n",
       "      <td>414491886.0</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>5</th>\n",
       "      <td>535</td>\n",
       "      <td>United Arab Emirates</td>\n",
       "      <td>ARE</td>\n",
       "      <td>Population, total</td>\n",
       "      <td>SP.POP.TOTL</td>\n",
       "      <td>92634.0</td>\n",
       "      <td>101078.0</td>\n",
       "      <td>112472.0</td>\n",
       "      <td>125566.0</td>\n",
       "      <td>138529.0</td>\n",
       "      <td>...</td>\n",
       "      <td>7666393.0</td>\n",
       "      <td>8270684.0</td>\n",
       "      <td>8672475.0</td>\n",
       "      <td>8900453.0</td>\n",
       "      <td>9006263.0</td>\n",
       "      <td>9070867.0</td>\n",
       "      <td>9154302.0</td>\n",
       "      <td>9269612.0</td>\n",
       "      <td>9400145.0</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>6</th>\n",
       "      <td>536</td>\n",
       "      <td>Argentina</td>\n",
       "      <td>ARG</td>\n",
       "      <td>Population, total</td>\n",
       "      <td>SP.POP.TOTL</td>\n",
       "      <td>20619075.0</td>\n",
       "      <td>20953077.0</td>\n",
       "      <td>21287682.0</td>\n",
       "      <td>21621840.0</td>\n",
       "      <td>21953929.0</td>\n",
       "      <td>...</td>\n",
       "      <td>40799407.0</td>\n",
       "      <td>41223889.0</td>\n",
       "      <td>41656879.0</td>\n",
       "      <td>42096739.0</td>\n",
       "      <td>42539925.0</td>\n",
       "      <td>42981515.0</td>\n",
       "      <td>43417765.0</td>\n",
       "      <td>43847430.0</td>\n",
       "      <td>44271041.0</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>7</th>\n",
       "      <td>537</td>\n",
       "      <td>Armenia</td>\n",
       "      <td>ARM</td>\n",
       "      <td>Population, total</td>\n",
       "      <td>SP.POP.TOTL</td>\n",
       "      <td>1874120.0</td>\n",
       "      <td>1941491.0</td>\n",
       "      <td>2009526.0</td>\n",
       "      <td>2077575.0</td>\n",
       "      <td>2144998.0</td>\n",
       "      <td>...</td>\n",
       "      <td>2888584.0</td>\n",
       "      <td>2877311.0</td>\n",
       "      <td>2875581.0</td>\n",
       "      <td>2881922.0</td>\n",
       "      <td>2893509.0</td>\n",
       "      <td>2906220.0</td>\n",
       "      <td>2916950.0</td>\n",
       "      <td>2924816.0</td>\n",
       "      <td>2930450.0</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>8</th>\n",
       "      <td>538</td>\n",
       "      <td>American Samoa</td>\n",
       "      <td>ASM</td>\n",
       "      <td>Population, total</td>\n",
       "      <td>SP.POP.TOTL</td>\n",
       "      <td>20013.0</td>\n",
       "      <td>20486.0</td>\n",
       "      <td>21117.0</td>\n",
       "      <td>21882.0</td>\n",
       "      <td>22698.0</td>\n",
       "      <td>...</td>\n",
       "      <td>56227.0</td>\n",
       "      <td>55637.0</td>\n",
       "      <td>55320.0</td>\n",
       "      <td>55230.0</td>\n",
       "      <td>55307.0</td>\n",
       "      <td>55437.0</td>\n",
       "      <td>55537.0</td>\n",
       "      <td>55599.0</td>\n",
       "      <td>55641.0</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>9</th>\n",
       "      <td>539</td>\n",
       "      <td>Antigua and Barbuda</td>\n",
       "      <td>ATG</td>\n",
       "      <td>Population, total</td>\n",
       "      <td>SP.POP.TOTL</td>\n",
       "      <td>55339.0</td>\n",
       "      <td>56144.0</td>\n",
       "      <td>57144.0</td>\n",
       "      <td>58294.0</td>\n",
       "      <td>59524.0</td>\n",
       "      <td>...</td>\n",
       "      <td>93581.0</td>\n",
       "      <td>94661.0</td>\n",
       "      <td>95719.0</td>\n",
       "      <td>96777.0</td>\n",
       "      <td>97824.0</td>\n",
       "      <td>98875.0</td>\n",
       "      <td>99923.0</td>\n",
       "      <td>100963.0</td>\n",
       "      <td>102012.0</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>10 rows × 64 columns</p>\n",
       "</div>"
      ]
     },
     "execution_count": 12,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 12
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "# CREACION DE DATAFRAME A PARTIR DE CSV",
   "id": "4108a301502dfec4"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-09-10T02:06:57.245666Z",
     "start_time": "2025-09-10T02:06:57.235458Z"
    }
   },
   "cell_type": "code",
   "source": [
    "# Cargar dataset\n",
    "df1 = pd.read_csv('dataset/rural_population_percent.csv')"
   ],
   "id": "f5f23fa8a96ddcfa",
   "outputs": [],
   "execution_count": 21
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-09-10T02:32:53.861190Z",
     "start_time": "2025-09-10T02:32:53.850618Z"
    }
   },
   "cell_type": "code",
   "source": [
    "# Mostrar las primeras filas (para verificar que cargó bien)\n",
    "print(df.head())\n",
    "\n",
    "# Listar los nombres de las columnas\n",
    "print(\"Columnas del DataFrame:\")\n",
    "print(df.columns.tolist())\n"
   ],
   "id": "768680addbb49d04",
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "  Country Name Country Code                            Indicator Name  \\\n",
      "0        Aruba          ABW  Rural population (% of total population)   \n",
      "1  Afghanistan          AFG  Rural population (% of total population)   \n",
      "2       Angola          AGO  Rural population (% of total population)   \n",
      "3      Albania          ALB  Rural population (% of total population)   \n",
      "4      Andorra          AND  Rural population (% of total population)   \n",
      "\n",
      "   Indicator Code    1960    1961    1962    1963    1964    1965  ...  \\\n",
      "0  SP.RUR.TOTL.ZS  49.224  49.239  49.254  49.270  49.285  49.300  ...   \n",
      "1  SP.RUR.TOTL.ZS  91.779  91.492  91.195  90.890  90.574  90.250  ...   \n",
      "2  SP.RUR.TOTL.ZS  89.565  89.202  88.796  88.376  87.942  87.496  ...   \n",
      "3  SP.RUR.TOTL.ZS  69.295  69.057  68.985  68.914  68.842  68.770  ...   \n",
      "4  SP.RUR.TOTL.ZS  41.550  39.017  36.538  34.128  31.795  29.555  ...   \n",
      "\n",
      "     2009    2010    2011    2012    2013    2014    2015    2016    2017  \\\n",
      "0  56.579  56.941  57.302  57.636  57.942  58.221  58.472  58.696  58.893   \n",
      "1  75.687  75.311  74.926  74.532  74.129  73.718  73.297  72.868  72.430   \n",
      "2  60.701  59.903  59.100  58.301  57.510  56.726  55.950  55.181  54.422   \n",
      "3  48.924  47.837  46.753  45.670  44.617  43.591  42.593  41.624  40.684   \n",
      "4  11.648  12.183  12.740  13.292  13.835  14.367  14.885  15.388  15.873   \n",
      "\n",
      "   Unnamed: 62  \n",
      "0          NaN  \n",
      "1          NaN  \n",
      "2          NaN  \n",
      "3          NaN  \n",
      "4          NaN  \n",
      "\n",
      "[5 rows x 63 columns]\n",
      "Columnas del DataFrame:\n",
      "['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code', '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', 'Unnamed: 62']\n"
     ]
    }
   ],
   "execution_count": 35
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-09-10T02:08:35.423052Z",
     "start_time": "2025-09-10T02:08:35.418087Z"
    }
   },
   "cell_type": "code",
   "source": [
    "# Revisar valores nulos\n",
    "print(df1.isnull().sum())"
   ],
   "id": "a37182189f160cdd",
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Country Name        0\n",
      "Country Code        0\n",
      "Indicator Name      0\n",
      "Indicator Code      0\n",
      "1960                5\n",
      "                 ... \n",
      "2014                4\n",
      "2015                4\n",
      "2016                4\n",
      "2017                4\n",
      "Unnamed: 62       264\n",
      "Length: 63, dtype: int64\n"
     ]
    }
   ],
   "execution_count": 23
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-09-10T02:40:57.398584Z",
     "start_time": "2025-09-10T02:40:57.389279Z"
    }
   },
   "cell_type": "code",
   "source": [
    "# Mostrar tipos de datos de cada columna\n",
    "print(\"Tipos de datos de las columnas:\")\n",
    "print(df1.dtypes)\n",
    "\n",
    "# Resumen detallado\n",
    "print(\"\\nResumen de info del DataFrame:\")\n",
    "print(df1.info())"
   ],
   "id": "62d00065afba2045",
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Tipos de datos de las columnas:\n",
      "Country Name       object\n",
      "Country Code       object\n",
      "Indicator Name     object\n",
      "Indicator Code     object\n",
      "2010              float64\n",
      "2011              float64\n",
      "2012              float64\n",
      "2013              float64\n",
      "2014              float64\n",
      "2015              float64\n",
      "2016              float64\n",
      "2017              float64\n",
      "dtype: object\n",
      "\n",
      "Resumen de info del DataFrame:\n",
      "<class 'pandas.core.frame.DataFrame'>\n",
      "Index: 260 entries, 0 to 263\n",
      "Data columns (total 12 columns):\n",
      " #   Column          Non-Null Count  Dtype  \n",
      "---  ------          --------------  -----  \n",
      " 0   Country Name    260 non-null    object \n",
      " 1   Country Code    260 non-null    object \n",
      " 2   Indicator Name  260 non-null    object \n",
      " 3   Indicator Code  260 non-null    object \n",
      " 4   2010            260 non-null    float64\n",
      " 5   2011            260 non-null    float64\n",
      " 6   2012            260 non-null    float64\n",
      " 7   2013            260 non-null    float64\n",
      " 8   2014            260 non-null    float64\n",
      " 9   2015            260 non-null    float64\n",
      " 10  2016            260 non-null    float64\n",
      " 11  2017            260 non-null    float64\n",
      "dtypes: float64(8), object(4)\n",
      "memory usage: 26.4+ KB\n",
      "None\n"
     ]
    }
   ],
   "execution_count": 38
  },
  {
   "metadata": {},
   "cell_type": "code",
   "outputs": [],
   "execution_count": null,
   "source": "LIMPIEZA DEL DATASET LIMPIO",
   "id": "d1eb7276c5a8cb0f"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-09-10T02:12:43.413582Z",
     "start_time": "2025-09-10T02:12:43.398548Z"
    }
   },
   "cell_type": "code",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "     Country Name Country Code                            Indicator Name  \\\n",
       "0           Aruba          ABW  Rural population (% of total population)   \n",
       "1     Afghanistan          AFG  Rural population (% of total population)   \n",
       "2          Angola          AGO  Rural population (% of total population)   \n",
       "3         Albania          ALB  Rural population (% of total population)   \n",
       "4         Andorra          AND  Rural population (% of total population)   \n",
       "..            ...          ...                                       ...   \n",
       "259        Kosovo          XKX  Rural population (% of total population)   \n",
       "260   Yemen, Rep.          YEM  Rural population (% of total population)   \n",
       "261  South Africa          ZAF  Rural population (% of total population)   \n",
       "262        Zambia          ZMB  Rural population (% of total population)   \n",
       "263      Zimbabwe          ZWE  Rural population (% of total population)   \n",
       "\n",
       "     Indicator Code    2010    2011    2012    2013    2014    2015    2016  \\\n",
       "0    SP.RUR.TOTL.ZS  56.941  57.302  57.636  57.942  58.221  58.472  58.696   \n",
       "1    SP.RUR.TOTL.ZS  75.311  74.926  74.532  74.129  73.718  73.297  72.868   \n",
       "2    SP.RUR.TOTL.ZS  59.903  59.100  58.301  57.510  56.726  55.950  55.181   \n",
       "3    SP.RUR.TOTL.ZS  47.837  46.753  45.670  44.617  43.591  42.593  41.624   \n",
       "4    SP.RUR.TOTL.ZS  12.183  12.740  13.292  13.835  14.367  14.885  15.388   \n",
       "..              ...     ...     ...     ...     ...     ...     ...     ...   \n",
       "259  SP.RUR.TOTL.ZS     NaN     NaN     NaN     NaN     NaN     NaN     NaN   \n",
       "260  SP.RUR.TOTL.ZS  68.268  67.698  67.126  66.550  65.973  65.394  64.813   \n",
       "261  SP.RUR.TOTL.ZS  37.782  37.254  36.728  36.212  35.702  35.199  34.705   \n",
       "262  SP.RUR.TOTL.ZS  61.275  60.847  60.413  59.973  59.528  59.078  58.621   \n",
       "263  SP.RUR.TOTL.ZS  66.804  66.985  67.166  67.346  67.499  67.624  67.723   \n",
       "\n",
       "       2017  \n",
       "0    58.893  \n",
       "1    72.430  \n",
       "2    54.422  \n",
       "3    40.684  \n",
       "4    15.873  \n",
       "..      ...  \n",
       "259     NaN  \n",
       "260  64.231  \n",
       "261  34.218  \n",
       "262  58.160  \n",
       "263  67.793  \n",
       "\n",
       "[264 rows x 12 columns]"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>Country Name</th>\n",
       "      <th>Country Code</th>\n",
       "      <th>Indicator Name</th>\n",
       "      <th>Indicator Code</th>\n",
       "      <th>2010</th>\n",
       "      <th>2011</th>\n",
       "      <th>2012</th>\n",
       "      <th>2013</th>\n",
       "      <th>2014</th>\n",
       "      <th>2015</th>\n",
       "      <th>2016</th>\n",
       "      <th>2017</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>Aruba</td>\n",
       "      <td>ABW</td>\n",
       "      <td>Rural population (% of total population)</td>\n",
       "      <td>SP.RUR.TOTL.ZS</td>\n",
       "      <td>56.941</td>\n",
       "      <td>57.302</td>\n",
       "      <td>57.636</td>\n",
       "      <td>57.942</td>\n",
       "      <td>58.221</td>\n",
       "      <td>58.472</td>\n",
       "      <td>58.696</td>\n",
       "      <td>58.893</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>Afghanistan</td>\n",
       "      <td>AFG</td>\n",
       "      <td>Rural population (% of total population)</td>\n",
       "      <td>SP.RUR.TOTL.ZS</td>\n",
       "      <td>75.311</td>\n",
       "      <td>74.926</td>\n",
       "      <td>74.532</td>\n",
       "      <td>74.129</td>\n",
       "      <td>73.718</td>\n",
       "      <td>73.297</td>\n",
       "      <td>72.868</td>\n",
       "      <td>72.430</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>Angola</td>\n",
       "      <td>AGO</td>\n",
       "      <td>Rural population (% of total population)</td>\n",
       "      <td>SP.RUR.TOTL.ZS</td>\n",
       "      <td>59.903</td>\n",
       "      <td>59.100</td>\n",
       "      <td>58.301</td>\n",
       "      <td>57.510</td>\n",
       "      <td>56.726</td>\n",
       "      <td>55.950</td>\n",
       "      <td>55.181</td>\n",
       "      <td>54.422</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>Albania</td>\n",
       "      <td>ALB</td>\n",
       "      <td>Rural population (% of total population)</td>\n",
       "      <td>SP.RUR.TOTL.ZS</td>\n",
       "      <td>47.837</td>\n",
       "      <td>46.753</td>\n",
       "      <td>45.670</td>\n",
       "      <td>44.617</td>\n",
       "      <td>43.591</td>\n",
       "      <td>42.593</td>\n",
       "      <td>41.624</td>\n",
       "      <td>40.684</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>Andorra</td>\n",
       "      <td>AND</td>\n",
       "      <td>Rural population (% of total population)</td>\n",
       "      <td>SP.RUR.TOTL.ZS</td>\n",
       "      <td>12.183</td>\n",
       "      <td>12.740</td>\n",
       "      <td>13.292</td>\n",
       "      <td>13.835</td>\n",
       "      <td>14.367</td>\n",
       "      <td>14.885</td>\n",
       "      <td>15.388</td>\n",
       "      <td>15.873</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>259</th>\n",
       "      <td>Kosovo</td>\n",
       "      <td>XKX</td>\n",
       "      <td>Rural population (% of total population)</td>\n",
       "      <td>SP.RUR.TOTL.ZS</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>260</th>\n",
       "      <td>Yemen, Rep.</td>\n",
       "      <td>YEM</td>\n",
       "      <td>Rural population (% of total population)</td>\n",
       "      <td>SP.RUR.TOTL.ZS</td>\n",
       "      <td>68.268</td>\n",
       "      <td>67.698</td>\n",
       "      <td>67.126</td>\n",
       "      <td>66.550</td>\n",
       "      <td>65.973</td>\n",
       "      <td>65.394</td>\n",
       "      <td>64.813</td>\n",
       "      <td>64.231</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>261</th>\n",
       "      <td>South Africa</td>\n",
       "      <td>ZAF</td>\n",
       "      <td>Rural population (% of total population)</td>\n",
       "      <td>SP.RUR.TOTL.ZS</td>\n",
       "      <td>37.782</td>\n",
       "      <td>37.254</td>\n",
       "      <td>36.728</td>\n",
       "      <td>36.212</td>\n",
       "      <td>35.702</td>\n",
       "      <td>35.199</td>\n",
       "      <td>34.705</td>\n",
       "      <td>34.218</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>262</th>\n",
       "      <td>Zambia</td>\n",
       "      <td>ZMB</td>\n",
       "      <td>Rural population (% of total population)</td>\n",
       "      <td>SP.RUR.TOTL.ZS</td>\n",
       "      <td>61.275</td>\n",
       "      <td>60.847</td>\n",
       "      <td>60.413</td>\n",
       "      <td>59.973</td>\n",
       "      <td>59.528</td>\n",
       "      <td>59.078</td>\n",
       "      <td>58.621</td>\n",
       "      <td>58.160</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>263</th>\n",
       "      <td>Zimbabwe</td>\n",
       "      <td>ZWE</td>\n",
       "      <td>Rural population (% of total population)</td>\n",
       "      <td>SP.RUR.TOTL.ZS</td>\n",
       "      <td>66.804</td>\n",
       "      <td>66.985</td>\n",
       "      <td>67.166</td>\n",
       "      <td>67.346</td>\n",
       "      <td>67.499</td>\n",
       "      <td>67.624</td>\n",
       "      <td>67.723</td>\n",
       "      <td>67.793</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>264 rows × 12 columns</p>\n",
       "</div>"
      ]
     },
     "execution_count": 26,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 26,
   "source": [
    "# Seleccionamos más columnas relevantes\n",
    "columnas_usar = [\n",
    "\"Country Name\",\n",
    "\"Country Code\",\n",
    "\"Indicator Name\",\n",
    "\"Indicator Code\",\n",
    "\"2010\",\n",
    "\"2011\",\n",
    "\"2012\",\n",
    "\"2013\",\n",
    "\"2014\",\n",
    "\"2015\",\n",
    "\"2016\",\n",
    "\"2017\"\n",
    "]\n",
    "df1 = df1[columnas_usar].copy()\n",
    "df1"
   ],
   "id": "ae03e2120107913b"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-09-10T02:19:04.070543Z",
     "start_time": "2025-09-10T02:19:04.057283Z"
    }
   },
   "cell_type": "code",
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Dataset antes de limpieza: 260 filas, 12 columnas\n",
      "Valores nulos totales: 0\n",
      "Columnas en el dataset:\n",
      "['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017']\n",
      "\n",
      "Después de dropna(): 260 filas\n",
      "Filas eliminadas: 0\n",
      "Porcentaje de datos mantenidos: 100.00%\n"
     ]
    },
    {
     "data": {
      "text/plain": [
       "     Country Name Country Code                            Indicator Name  \\\n",
       "0           Aruba          ABW  Rural population (% of total population)   \n",
       "1     Afghanistan          AFG  Rural population (% of total population)   \n",
       "2          Angola          AGO  Rural population (% of total population)   \n",
       "3         Albania          ALB  Rural population (% of total population)   \n",
       "4         Andorra          AND  Rural population (% of total population)   \n",
       "..            ...          ...                                       ...   \n",
       "258         Samoa          WSM  Rural population (% of total population)   \n",
       "260   Yemen, Rep.          YEM  Rural population (% of total population)   \n",
       "261  South Africa          ZAF  Rural population (% of total population)   \n",
       "262        Zambia          ZMB  Rural population (% of total population)   \n",
       "263      Zimbabwe          ZWE  Rural population (% of total population)   \n",
       "\n",
       "     Indicator Code    2010    2011    2012    2013    2014    2015    2016  \\\n",
       "0    SP.RUR.TOTL.ZS  56.941  57.302  57.636  57.942  58.221  58.472  58.696   \n",
       "1    SP.RUR.TOTL.ZS  75.311  74.926  74.532  74.129  73.718  73.297  72.868   \n",
       "2    SP.RUR.TOTL.ZS  59.903  59.100  58.301  57.510  56.726  55.950  55.181   \n",
       "3    SP.RUR.TOTL.ZS  47.837  46.753  45.670  44.617  43.591  42.593  41.624   \n",
       "4    SP.RUR.TOTL.ZS  12.183  12.740  13.292  13.835  14.367  14.885  15.388   \n",
       "..              ...     ...     ...     ...     ...     ...     ...     ...   \n",
       "258  SP.RUR.TOTL.ZS  79.922  80.143  80.361  80.560  80.740  80.902  81.045   \n",
       "260  SP.RUR.TOTL.ZS  68.268  67.698  67.126  66.550  65.973  65.394  64.813   \n",
       "261  SP.RUR.TOTL.ZS  37.782  37.254  36.728  36.212  35.702  35.199  34.705   \n",
       "262  SP.RUR.TOTL.ZS  61.275  60.847  60.413  59.973  59.528  59.078  58.621   \n",
       "263  SP.RUR.TOTL.ZS  66.804  66.985  67.166  67.346  67.499  67.624  67.723   \n",
       "\n",
       "       2017  \n",
       "0    58.893  \n",
       "1    72.430  \n",
       "2    54.422  \n",
       "3    40.684  \n",
       "4    15.873  \n",
       "..      ...  \n",
       "258  81.170  \n",
       "260  64.231  \n",
       "261  34.218  \n",
       "262  58.160  \n",
       "263  67.793  \n",
       "\n",
       "[260 rows x 12 columns]"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>Country Name</th>\n",
       "      <th>Country Code</th>\n",
       "      <th>Indicator Name</th>\n",
       "      <th>Indicator Code</th>\n",
       "      <th>2010</th>\n",
       "      <th>2011</th>\n",
       "      <th>2012</th>\n",
       "      <th>2013</th>\n",
       "      <th>2014</th>\n",
       "      <th>2015</th>\n",
       "      <th>2016</th>\n",
       "      <th>2017</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>Aruba</td>\n",
       "      <td>ABW</td>\n",
       "      <td>Rural population (% of total population)</td>\n",
       "      <td>SP.RUR.TOTL.ZS</td>\n",
       "      <td>56.941</td>\n",
       "      <td>57.302</td>\n",
       "      <td>57.636</td>\n",
       "      <td>57.942</td>\n",
       "      <td>58.221</td>\n",
       "      <td>58.472</td>\n",
       "      <td>58.696</td>\n",
       "      <td>58.893</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>Afghanistan</td>\n",
       "      <td>AFG</td>\n",
       "      <td>Rural population (% of total population)</td>\n",
       "      <td>SP.RUR.TOTL.ZS</td>\n",
       "      <td>75.311</td>\n",
       "      <td>74.926</td>\n",
       "      <td>74.532</td>\n",
       "      <td>74.129</td>\n",
       "      <td>73.718</td>\n",
       "      <td>73.297</td>\n",
       "      <td>72.868</td>\n",
       "      <td>72.430</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>Angola</td>\n",
       "      <td>AGO</td>\n",
       "      <td>Rural population (% of total population)</td>\n",
       "      <td>SP.RUR.TOTL.ZS</td>\n",
       "      <td>59.903</td>\n",
       "      <td>59.100</td>\n",
       "      <td>58.301</td>\n",
       "      <td>57.510</td>\n",
       "      <td>56.726</td>\n",
       "      <td>55.950</td>\n",
       "      <td>55.181</td>\n",
       "      <td>54.422</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>Albania</td>\n",
       "      <td>ALB</td>\n",
       "      <td>Rural population (% of total population)</td>\n",
       "      <td>SP.RUR.TOTL.ZS</td>\n",
       "      <td>47.837</td>\n",
       "      <td>46.753</td>\n",
       "      <td>45.670</td>\n",
       "      <td>44.617</td>\n",
       "      <td>43.591</td>\n",
       "      <td>42.593</td>\n",
       "      <td>41.624</td>\n",
       "      <td>40.684</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>Andorra</td>\n",
       "      <td>AND</td>\n",
       "      <td>Rural population (% of total population)</td>\n",
       "      <td>SP.RUR.TOTL.ZS</td>\n",
       "      <td>12.183</td>\n",
       "      <td>12.740</td>\n",
       "      <td>13.292</td>\n",
       "      <td>13.835</td>\n",
       "      <td>14.367</td>\n",
       "      <td>14.885</td>\n",
       "      <td>15.388</td>\n",
       "      <td>15.873</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>258</th>\n",
       "      <td>Samoa</td>\n",
       "      <td>WSM</td>\n",
       "      <td>Rural population (% of total population)</td>\n",
       "      <td>SP.RUR.TOTL.ZS</td>\n",
       "      <td>79.922</td>\n",
       "      <td>80.143</td>\n",
       "      <td>80.361</td>\n",
       "      <td>80.560</td>\n",
       "      <td>80.740</td>\n",
       "      <td>80.902</td>\n",
       "      <td>81.045</td>\n",
       "      <td>81.170</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>260</th>\n",
       "      <td>Yemen, Rep.</td>\n",
       "      <td>YEM</td>\n",
       "      <td>Rural population (% of total population)</td>\n",
       "      <td>SP.RUR.TOTL.ZS</td>\n",
       "      <td>68.268</td>\n",
       "      <td>67.698</td>\n",
       "      <td>67.126</td>\n",
       "      <td>66.550</td>\n",
       "      <td>65.973</td>\n",
       "      <td>65.394</td>\n",
       "      <td>64.813</td>\n",
       "      <td>64.231</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>261</th>\n",
       "      <td>South Africa</td>\n",
       "      <td>ZAF</td>\n",
       "      <td>Rural population (% of total population)</td>\n",
       "      <td>SP.RUR.TOTL.ZS</td>\n",
       "      <td>37.782</td>\n",
       "      <td>37.254</td>\n",
       "      <td>36.728</td>\n",
       "      <td>36.212</td>\n",
       "      <td>35.702</td>\n",
       "      <td>35.199</td>\n",
       "      <td>34.705</td>\n",
       "      <td>34.218</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>262</th>\n",
       "      <td>Zambia</td>\n",
       "      <td>ZMB</td>\n",
       "      <td>Rural population (% of total population)</td>\n",
       "      <td>SP.RUR.TOTL.ZS</td>\n",
       "      <td>61.275</td>\n",
       "      <td>60.847</td>\n",
       "      <td>60.413</td>\n",
       "      <td>59.973</td>\n",
       "      <td>59.528</td>\n",
       "      <td>59.078</td>\n",
       "      <td>58.621</td>\n",
       "      <td>58.160</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>263</th>\n",
       "      <td>Zimbabwe</td>\n",
       "      <td>ZWE</td>\n",
       "      <td>Rural population (% of total population)</td>\n",
       "      <td>SP.RUR.TOTL.ZS</td>\n",
       "      <td>66.804</td>\n",
       "      <td>66.985</td>\n",
       "      <td>67.166</td>\n",
       "      <td>67.346</td>\n",
       "      <td>67.499</td>\n",
       "      <td>67.624</td>\n",
       "      <td>67.723</td>\n",
       "      <td>67.793</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>260 rows × 12 columns</p>\n",
       "</div>"
      ]
     },
     "execution_count": 30,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 30,
   "source": [
    "# Validación de valores antes de eliminar\n",
    "filas_antes = len(df1)\n",
    "columnas_antes = df1.shape[1]\n",
    "\n",
    "print(f\"Dataset antes de limpieza: {filas_antes} filas, {columnas_antes} columnas\")\n",
    "print(f\"Valores nulos totales: {df1.isnull().sum().sum()}\")\n",
    "\n",
    "# Eliminación de filas con valores nulos\n",
    "df1 = df1.dropna()\n",
    "# Ver todas las columnas disponibles\n",
    "print(\"Columnas en el dataset:\")\n",
    "print(df1.columns.tolist())\n",
    "\n",
    "filas_despues = len(df1)\n",
    "filas_eliminadas = filas_antes - filas_despues\n",
    "\n",
    "print(f\"\\nDespués de dropna(): {filas_despues} filas\")\n",
    "print(f\"Filas eliminadas: {filas_eliminadas}\")\n",
    "print(f\"Porcentaje de datos mantenidos: {(filas_despues/filas_antes)*100:.2f}%\")\n",
    "\n",
    "# Guardar versión de dataframe limpio.\n",
    "df1"
   ],
   "id": "f13dd51917aff568"
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "ANÁLISIS EXPLORATORIO DEL DATASET LIMPIO\n",
   "id": "d647491ca8664c5"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-09-10T02:30:15.411030Z",
     "start_time": "2025-09-10T02:30:15.382856Z"
    }
   },
   "cell_type": "code",
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Dimensiones del dataset: (260, 12)\n",
      "\n",
      "Columnas: Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',\n",
      "       '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017'],\n",
      "      dtype='object')\n",
      "\n",
      "Primeras filas:\n"
     ]
    },
    {
     "data": {
      "text/plain": [
       "  Country Name Country Code                            Indicator Name  \\\n",
       "0        Aruba          ABW  Rural population (% of total population)   \n",
       "1  Afghanistan          AFG  Rural population (% of total population)   \n",
       "2       Angola          AGO  Rural population (% of total population)   \n",
       "3      Albania          ALB  Rural population (% of total population)   \n",
       "4      Andorra          AND  Rural population (% of total population)   \n",
       "\n",
       "   Indicator Code    2010    2011    2012    2013    2014    2015    2016  \\\n",
       "0  SP.RUR.TOTL.ZS  56.941  57.302  57.636  57.942  58.221  58.472  58.696   \n",
       "1  SP.RUR.TOTL.ZS  75.311  74.926  74.532  74.129  73.718  73.297  72.868   \n",
       "2  SP.RUR.TOTL.ZS  59.903  59.100  58.301  57.510  56.726  55.950  55.181   \n",
       "3  SP.RUR.TOTL.ZS  47.837  46.753  45.670  44.617  43.591  42.593  41.624   \n",
       "4  SP.RUR.TOTL.ZS  12.183  12.740  13.292  13.835  14.367  14.885  15.388   \n",
       "\n",
       "     2017  \n",
       "0  58.893  \n",
       "1  72.430  \n",
       "2  54.422  \n",
       "3  40.684  \n",
       "4  15.873  "
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>Country Name</th>\n",
       "      <th>Country Code</th>\n",
       "      <th>Indicator Name</th>\n",
       "      <th>Indicator Code</th>\n",
       "      <th>2010</th>\n",
       "      <th>2011</th>\n",
       "      <th>2012</th>\n",
       "      <th>2013</th>\n",
       "      <th>2014</th>\n",
       "      <th>2015</th>\n",
       "      <th>2016</th>\n",
       "      <th>2017</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>Aruba</td>\n",
       "      <td>ABW</td>\n",
       "      <td>Rural population (% of total population)</td>\n",
       "      <td>SP.RUR.TOTL.ZS</td>\n",
       "      <td>56.941</td>\n",
       "      <td>57.302</td>\n",
       "      <td>57.636</td>\n",
       "      <td>57.942</td>\n",
       "      <td>58.221</td>\n",
       "      <td>58.472</td>\n",
       "      <td>58.696</td>\n",
       "      <td>58.893</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>Afghanistan</td>\n",
       "      <td>AFG</td>\n",
       "      <td>Rural population (% of total population)</td>\n",
       "      <td>SP.RUR.TOTL.ZS</td>\n",
       "      <td>75.311</td>\n",
       "      <td>74.926</td>\n",
       "      <td>74.532</td>\n",
       "      <td>74.129</td>\n",
       "      <td>73.718</td>\n",
       "      <td>73.297</td>\n",
       "      <td>72.868</td>\n",
       "      <td>72.430</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>Angola</td>\n",
       "      <td>AGO</td>\n",
       "      <td>Rural population (% of total population)</td>\n",
       "      <td>SP.RUR.TOTL.ZS</td>\n",
       "      <td>59.903</td>\n",
       "      <td>59.100</td>\n",
       "      <td>58.301</td>\n",
       "      <td>57.510</td>\n",
       "      <td>56.726</td>\n",
       "      <td>55.950</td>\n",
       "      <td>55.181</td>\n",
       "      <td>54.422</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>Albania</td>\n",
       "      <td>ALB</td>\n",
       "      <td>Rural population (% of total population)</td>\n",
       "      <td>SP.RUR.TOTL.ZS</td>\n",
       "      <td>47.837</td>\n",
       "      <td>46.753</td>\n",
       "      <td>45.670</td>\n",
       "      <td>44.617</td>\n",
       "      <td>43.591</td>\n",
       "      <td>42.593</td>\n",
       "      <td>41.624</td>\n",
       "      <td>40.684</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>Andorra</td>\n",
       "      <td>AND</td>\n",
       "      <td>Rural population (% of total population)</td>\n",
       "      <td>SP.RUR.TOTL.ZS</td>\n",
       "      <td>12.183</td>\n",
       "      <td>12.740</td>\n",
       "      <td>13.292</td>\n",
       "      <td>13.835</td>\n",
       "      <td>14.367</td>\n",
       "      <td>14.885</td>\n",
       "      <td>15.388</td>\n",
       "      <td>15.873</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ]
     },
     "metadata": {},
     "output_type": "display_data"
    },
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "\n",
      "Estadísticas descriptivas:\n"
     ]
    },
    {
     "data": {
      "text/plain": [
       "       Country Name Country Code                            Indicator Name  \\\n",
       "count           260          260                                       260   \n",
       "unique          260          260                                         1   \n",
       "top           Aruba          ABW  Rural population (% of total population)   \n",
       "freq              1            1                                       260   \n",
       "mean            NaN          NaN                                       NaN   \n",
       "std             NaN          NaN                                       NaN   \n",
       "min             NaN          NaN                                       NaN   \n",
       "25%             NaN          NaN                                       NaN   \n",
       "50%             NaN          NaN                                       NaN   \n",
       "75%             NaN          NaN                                       NaN   \n",
       "max             NaN          NaN                                       NaN   \n",
       "\n",
       "        Indicator Code        2010        2011        2012        2013  \\\n",
       "count              260  260.000000  260.000000  260.000000  260.000000   \n",
       "unique               1         NaN         NaN         NaN         NaN   \n",
       "top     SP.RUR.TOTL.ZS         NaN         NaN         NaN         NaN   \n",
       "freq               260         NaN         NaN         NaN         NaN   \n",
       "mean               NaN   42.906455   42.597613   42.289136   41.981502   \n",
       "std                NaN   23.391558   23.339348   23.286923   23.233259   \n",
       "min                NaN    0.000000    0.000000    0.000000    0.000000   \n",
       "25%                NaN   23.631750   23.341000   23.164250   22.892000   \n",
       "50%                NaN   43.784765   43.498244   43.084825   42.625581   \n",
       "75%                NaN   62.535500   62.067000   61.592000   61.112750   \n",
       "max                NaN   90.908000   91.063000   91.205000   91.334000   \n",
       "\n",
       "              2014        2015        2016        2017  \n",
       "count   260.000000  260.000000  260.000000  260.000000  \n",
       "unique         NaN         NaN         NaN         NaN  \n",
       "top            NaN         NaN         NaN         NaN  \n",
       "freq           NaN         NaN         NaN         NaN  \n",
       "mean     41.673917   41.366302   41.058825   40.751455  \n",
       "std      23.177917   23.120807   23.061619   23.000182  \n",
       "min       0.000000    0.000000    0.000000    0.000000  \n",
       "25%      22.634000   22.267500   21.851750   21.449750  \n",
       "50%      42.242671   41.455916   41.014860   40.621500  \n",
       "75%      60.612500   60.257000   59.992500   59.538250  \n",
       "max      91.450000   91.555000   91.648000   91.730000  "
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>Country Name</th>\n",
       "      <th>Country Code</th>\n",
       "      <th>Indicator Name</th>\n",
       "      <th>Indicator Code</th>\n",
       "      <th>2010</th>\n",
       "      <th>2011</th>\n",
       "      <th>2012</th>\n",
       "      <th>2013</th>\n",
       "      <th>2014</th>\n",
       "      <th>2015</th>\n",
       "      <th>2016</th>\n",
       "      <th>2017</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>count</th>\n",
       "      <td>260</td>\n",
       "      <td>260</td>\n",
       "      <td>260</td>\n",
       "      <td>260</td>\n",
       "      <td>260.000000</td>\n",
       "      <td>260.000000</td>\n",
       "      <td>260.000000</td>\n",
       "      <td>260.000000</td>\n",
       "      <td>260.000000</td>\n",
       "      <td>260.000000</td>\n",
       "      <td>260.000000</td>\n",
       "      <td>260.000000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>unique</th>\n",
       "      <td>260</td>\n",
       "      <td>260</td>\n",
       "      <td>1</td>\n",
       "      <td>1</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>top</th>\n",
       "      <td>Aruba</td>\n",
       "      <td>ABW</td>\n",
       "      <td>Rural population (% of total population)</td>\n",
       "      <td>SP.RUR.TOTL.ZS</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>freq</th>\n",
       "      <td>1</td>\n",
       "      <td>1</td>\n",
       "      <td>260</td>\n",
       "      <td>260</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>mean</th>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>42.906455</td>\n",
       "      <td>42.597613</td>\n",
       "      <td>42.289136</td>\n",
       "      <td>41.981502</td>\n",
       "      <td>41.673917</td>\n",
       "      <td>41.366302</td>\n",
       "      <td>41.058825</td>\n",
       "      <td>40.751455</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>std</th>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>23.391558</td>\n",
       "      <td>23.339348</td>\n",
       "      <td>23.286923</td>\n",
       "      <td>23.233259</td>\n",
       "      <td>23.177917</td>\n",
       "      <td>23.120807</td>\n",
       "      <td>23.061619</td>\n",
       "      <td>23.000182</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>min</th>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>0.000000</td>\n",
       "      <td>0.000000</td>\n",
       "      <td>0.000000</td>\n",
       "      <td>0.000000</td>\n",
       "      <td>0.000000</td>\n",
       "      <td>0.000000</td>\n",
       "      <td>0.000000</td>\n",
       "      <td>0.000000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>25%</th>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>23.631750</td>\n",
       "      <td>23.341000</td>\n",
       "      <td>23.164250</td>\n",
       "      <td>22.892000</td>\n",
       "      <td>22.634000</td>\n",
       "      <td>22.267500</td>\n",
       "      <td>21.851750</td>\n",
       "      <td>21.449750</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>50%</th>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>43.784765</td>\n",
       "      <td>43.498244</td>\n",
       "      <td>43.084825</td>\n",
       "      <td>42.625581</td>\n",
       "      <td>42.242671</td>\n",
       "      <td>41.455916</td>\n",
       "      <td>41.014860</td>\n",
       "      <td>40.621500</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>75%</th>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>62.535500</td>\n",
       "      <td>62.067000</td>\n",
       "      <td>61.592000</td>\n",
       "      <td>61.112750</td>\n",
       "      <td>60.612500</td>\n",
       "      <td>60.257000</td>\n",
       "      <td>59.992500</td>\n",
       "      <td>59.538250</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>max</th>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>90.908000</td>\n",
       "      <td>91.063000</td>\n",
       "      <td>91.205000</td>\n",
       "      <td>91.334000</td>\n",
       "      <td>91.450000</td>\n",
       "      <td>91.555000</td>\n",
       "      <td>91.648000</td>\n",
       "      <td>91.730000</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ]
     },
     "metadata": {},
     "output_type": "display_data"
    },
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "\n",
      "Número de países: 260\n"
     ]
    }
   ],
   "execution_count": 33,
   "source": [
    "#Revision inicial\n",
    "print(\"Dimensiones del dataset:\", df1.shape)\n",
    "print(\"\\nColumnas:\", df1.columns)\n",
    "print(\"\\nPrimeras filas:\")\n",
    "display(df1.head())\n",
    "\n",
    "# Estadísticas generales\n",
    "print(\"\\nEstadísticas descriptivas:\")\n",
    "display(df1.describe(include=\"all\"))\n",
    "\n",
    "# Revisar número de países y rango de años\n",
    "print(\"\\nNúmero de países:\", df1['Country Name'].nunique())"
   ],
   "id": "d34c499ca6a0e25d"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-09-10T02:53:26.195569Z",
     "start_time": "2025-09-10T02:53:26.183254Z"
    }
   },
   "cell_type": "code",
   "source": "df1.sort_values('2010',ascending=False)",
   "id": "40aaeaa7dcaada49",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "             Country Name Country Code  \\\n",
       "25                Bermuda          BMU   \n",
       "50         Cayman Islands          CYM   \n",
       "94   Hong Kong SAR, China          HKG   \n",
       "147                Monaco          MCO   \n",
       "144      Macao SAR, China          MAC   \n",
       "..                    ...          ...   \n",
       "245                Uganda          UGA   \n",
       "135         Liechtenstein          LIE   \n",
       "187      Papua New Guinea          PNG   \n",
       "14                Burundi          BDI   \n",
       "240   Trinidad and Tobago          TTO   \n",
       "\n",
       "                               Indicator Name  Indicator Code    2010    2011  \\\n",
       "25   Rural population (% of total population)  SP.RUR.TOTL.ZS   0.000   0.000   \n",
       "50   Rural population (% of total population)  SP.RUR.TOTL.ZS   0.000   0.000   \n",
       "94   Rural population (% of total population)  SP.RUR.TOTL.ZS   0.000   0.000   \n",
       "147  Rural population (% of total population)  SP.RUR.TOTL.ZS   0.000   0.000   \n",
       "144  Rural population (% of total population)  SP.RUR.TOTL.ZS   0.000   0.000   \n",
       "..                                        ...             ...     ...     ...   \n",
       "245  Rural population (% of total population)  SP.RUR.TOTL.ZS  85.508  85.200   \n",
       "135  Rural population (% of total population)  SP.RUR.TOTL.ZS  85.536  85.590   \n",
       "187  Rural population (% of total population)  SP.RUR.TOTL.ZS  86.981  87.000   \n",
       "14   Rural population (% of total population)  SP.RUR.TOTL.ZS  89.359  89.088   \n",
       "240  Rural population (% of total population)  SP.RUR.TOTL.ZS  90.908  91.063   \n",
       "\n",
       "       2012    2013    2014    2015    2016    2017  \n",
       "25    0.000   0.000   0.000   0.000   0.000   0.000  \n",
       "50    0.000   0.000   0.000   0.000   0.000   0.000  \n",
       "94    0.000   0.000   0.000   0.000   0.000   0.000  \n",
       "147   0.000   0.000   0.000   0.000   0.000   0.000  \n",
       "144   0.000   0.000   0.000   0.000   0.000   0.000  \n",
       "..      ...     ...     ...     ...     ...     ...  \n",
       "245  84.885  84.563  84.234  83.899  83.556  83.206  \n",
       "135  85.635  85.670  85.695  85.711  85.717  85.714  \n",
       "187  87.018  87.023  87.015  86.995  86.961  86.915  \n",
       "14   88.811  88.528  88.239  87.943  87.641  87.333  \n",
       "240  91.205  91.334  91.450  91.555  91.648  91.730  \n",
       "\n",
       "[260 rows x 12 columns]"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>Country Name</th>\n",
       "      <th>Country Code</th>\n",
       "      <th>Indicator Name</th>\n",
       "      <th>Indicator Code</th>\n",
       "      <th>2010</th>\n",
       "      <th>2011</th>\n",
       "      <th>2012</th>\n",
       "      <th>2013</th>\n",
       "      <th>2014</th>\n",
       "      <th>2015</th>\n",
       "      <th>2016</th>\n",
       "      <th>2017</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>25</th>\n",
       "      <td>Bermuda</td>\n",
       "      <td>BMU</td>\n",
       "      <td>Rural population (% of total population)</td>\n",
       "      <td>SP.RUR.TOTL.ZS</td>\n",
       "      <td>0.000</td>\n",
       "      <td>0.000</td>\n",
       "      <td>0.000</td>\n",
       "      <td>0.000</td>\n",
       "      <td>0.000</td>\n",
       "      <td>0.000</td>\n",
       "      <td>0.000</td>\n",
       "      <td>0.000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>50</th>\n",
       "      <td>Cayman Islands</td>\n",
       "      <td>CYM</td>\n",
       "      <td>Rural population (% of total population)</td>\n",
       "      <td>SP.RUR.TOTL.ZS</td>\n",
       "      <td>0.000</td>\n",
       "      <td>0.000</td>\n",
       "      <td>0.000</td>\n",
       "      <td>0.000</td>\n",
       "      <td>0.000</td>\n",
       "      <td>0.000</td>\n",
       "      <td>0.000</td>\n",
       "      <td>0.000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>94</th>\n",
       "      <td>Hong Kong SAR, China</td>\n",
       "      <td>HKG</td>\n",
       "      <td>Rural population (% of total population)</td>\n",
       "      <td>SP.RUR.TOTL.ZS</td>\n",
       "      <td>0.000</td>\n",
       "      <td>0.000</td>\n",
       "      <td>0.000</td>\n",
       "      <td>0.000</td>\n",
       "      <td>0.000</td>\n",
       "      <td>0.000</td>\n",
       "      <td>0.000</td>\n",
       "      <td>0.000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>147</th>\n",
       "      <td>Monaco</td>\n",
       "      <td>MCO</td>\n",
       "      <td>Rural population (% of total population)</td>\n",
       "      <td>SP.RUR.TOTL.ZS</td>\n",
       "      <td>0.000</td>\n",
       "      <td>0.000</td>\n",
       "      <td>0.000</td>\n",
       "      <td>0.000</td>\n",
       "      <td>0.000</td>\n",
       "      <td>0.000</td>\n",
       "      <td>0.000</td>\n",
       "      <td>0.000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>144</th>\n",
       "      <td>Macao SAR, China</td>\n",
       "      <td>MAC</td>\n",
       "      <td>Rural population (% of total population)</td>\n",
       "      <td>SP.RUR.TOTL.ZS</td>\n",
       "      <td>0.000</td>\n",
       "      <td>0.000</td>\n",
       "      <td>0.000</td>\n",
       "      <td>0.000</td>\n",
       "      <td>0.000</td>\n",
       "      <td>0.000</td>\n",
       "      <td>0.000</td>\n",
       "      <td>0.000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>245</th>\n",
       "      <td>Uganda</td>\n",
       "      <td>UGA</td>\n",
       "      <td>Rural population (% of total population)</td>\n",
       "      <td>SP.RUR.TOTL.ZS</td>\n",
       "      <td>85.508</td>\n",
       "      <td>85.200</td>\n",
       "      <td>84.885</td>\n",
       "      <td>84.563</td>\n",
       "      <td>84.234</td>\n",
       "      <td>83.899</td>\n",
       "      <td>83.556</td>\n",
       "      <td>83.206</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>135</th>\n",
       "      <td>Liechtenstein</td>\n",
       "      <td>LIE</td>\n",
       "      <td>Rural population (% of total population)</td>\n",
       "      <td>SP.RUR.TOTL.ZS</td>\n",
       "      <td>85.536</td>\n",
       "      <td>85.590</td>\n",
       "      <td>85.635</td>\n",
       "      <td>85.670</td>\n",
       "      <td>85.695</td>\n",
       "      <td>85.711</td>\n",
       "      <td>85.717</td>\n",
       "      <td>85.714</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>187</th>\n",
       "      <td>Papua New Guinea</td>\n",
       "      <td>PNG</td>\n",
       "      <td>Rural population (% of total population)</td>\n",
       "      <td>SP.RUR.TOTL.ZS</td>\n",
       "      <td>86.981</td>\n",
       "      <td>87.000</td>\n",
       "      <td>87.018</td>\n",
       "      <td>87.023</td>\n",
       "      <td>87.015</td>\n",
       "      <td>86.995</td>\n",
       "      <td>86.961</td>\n",
       "      <td>86.915</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>14</th>\n",
       "      <td>Burundi</td>\n",
       "      <td>BDI</td>\n",
       "      <td>Rural population (% of total population)</td>\n",
       "      <td>SP.RUR.TOTL.ZS</td>\n",
       "      <td>89.359</td>\n",
       "      <td>89.088</td>\n",
       "      <td>88.811</td>\n",
       "      <td>88.528</td>\n",
       "      <td>88.239</td>\n",
       "      <td>87.943</td>\n",
       "      <td>87.641</td>\n",
       "      <td>87.333</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>240</th>\n",
       "      <td>Trinidad and Tobago</td>\n",
       "      <td>TTO</td>\n",
       "      <td>Rural population (% of total population)</td>\n",
       "      <td>SP.RUR.TOTL.ZS</td>\n",
       "      <td>90.908</td>\n",
       "      <td>91.063</td>\n",
       "      <td>91.205</td>\n",
       "      <td>91.334</td>\n",
       "      <td>91.450</td>\n",
       "      <td>91.555</td>\n",
       "      <td>91.648</td>\n",
       "      <td>91.730</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>260 rows × 12 columns</p>\n",
       "</div>"
      ]
     },
     "execution_count": 43,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 43
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-09-10T03:09:57.264495Z",
     "start_time": "2025-09-10T03:09:57.242913Z"
    }
   },
   "cell_type": "code",
   "source": [
    "#Agrupacion de filas con valores igual a 0\n",
    "filas_cero = df1[(df1 == 0).any(axis=1)]\n",
    "\n",
    "agrupadas = filas_cero.groupby(list(df1.columns)).size().reset_index(name=\"Cantidad\")\n",
    "\n",
    "# resultados\n",
    "print(\"Filas con valores 0:\\n\", filas_cero.head())\n",
    "print(\"\\nAgrupación de filas con valores iguales a 0:\\n\", agrupadas)"
   ],
   "id": "df7a3e27718d1b21",
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Filas con valores 0:\n",
      "              Country Name Country Code  \\\n",
      "25                Bermuda          BMU   \n",
      "50         Cayman Islands          CYM   \n",
      "82              Gibraltar          GIB   \n",
      "94   Hong Kong SAR, China          HKG   \n",
      "144      Macao SAR, China          MAC   \n",
      "\n",
      "                               Indicator Name  Indicator Code  2010  2011  \\\n",
      "25   Rural population (% of total population)  SP.RUR.TOTL.ZS   0.0   0.0   \n",
      "50   Rural population (% of total population)  SP.RUR.TOTL.ZS   0.0   0.0   \n",
      "82   Rural population (% of total population)  SP.RUR.TOTL.ZS   0.0   0.0   \n",
      "94   Rural population (% of total population)  SP.RUR.TOTL.ZS   0.0   0.0   \n",
      "144  Rural population (% of total population)  SP.RUR.TOTL.ZS   0.0   0.0   \n",
      "\n",
      "     2012  2013  2014  2015  2016  2017  \n",
      "25    0.0   0.0   0.0   0.0   0.0   0.0  \n",
      "50    0.0   0.0   0.0   0.0   0.0   0.0  \n",
      "82    0.0   0.0   0.0   0.0   0.0   0.0  \n",
      "94    0.0   0.0   0.0   0.0   0.0   0.0  \n",
      "144   0.0   0.0   0.0   0.0   0.0   0.0  \n",
      "\n",
      "Agrupación de filas con valores iguales a 0:\n",
      "                 Country Name Country Code  \\\n",
      "0                    Bermuda          BMU   \n",
      "1             Cayman Islands          CYM   \n",
      "2                  Gibraltar          GIB   \n",
      "3       Hong Kong SAR, China          HKG   \n",
      "4           Macao SAR, China          MAC   \n",
      "5                     Monaco          MCO   \n",
      "6                      Nauru          NRU   \n",
      "7                  Singapore          SGP   \n",
      "8  Sint Maarten (Dutch part)          SXM   \n",
      "\n",
      "                             Indicator Name  Indicator Code  2010  2011  2012  \\\n",
      "0  Rural population (% of total population)  SP.RUR.TOTL.ZS   0.0   0.0   0.0   \n",
      "1  Rural population (% of total population)  SP.RUR.TOTL.ZS   0.0   0.0   0.0   \n",
      "2  Rural population (% of total population)  SP.RUR.TOTL.ZS   0.0   0.0   0.0   \n",
      "3  Rural population (% of total population)  SP.RUR.TOTL.ZS   0.0   0.0   0.0   \n",
      "4  Rural population (% of total population)  SP.RUR.TOTL.ZS   0.0   0.0   0.0   \n",
      "5  Rural population (% of total population)  SP.RUR.TOTL.ZS   0.0   0.0   0.0   \n",
      "6  Rural population (% of total population)  SP.RUR.TOTL.ZS   0.0   0.0   0.0   \n",
      "7  Rural population (% of total population)  SP.RUR.TOTL.ZS   0.0   0.0   0.0   \n",
      "8  Rural population (% of total population)  SP.RUR.TOTL.ZS   0.0   0.0   0.0   \n",
      "\n",
      "   2013  2014  2015  2016  2017  Cantidad  \n",
      "0   0.0   0.0   0.0   0.0   0.0         1  \n",
      "1   0.0   0.0   0.0   0.0   0.0         1  \n",
      "2   0.0   0.0   0.0   0.0   0.0         1  \n",
      "3   0.0   0.0   0.0   0.0   0.0         1  \n",
      "4   0.0   0.0   0.0   0.0   0.0         1  \n",
      "5   0.0   0.0   0.0   0.0   0.0         1  \n",
      "6   0.0   0.0   0.0   0.0   0.0         1  \n",
      "7   0.0   0.0   0.0   0.0   0.0         1  \n",
      "8   0.0   0.0   0.0   0.0   0.0         1  \n"
     ]
    }
   ],
   "execution_count": 46
  }
 ],
 "metadata": {
  "kernelspec": {
   "display_name": "Python 3",
   "language": "python",
   "name": "python3"
  },
  "language_info": {
   "codemirror_mode": {
    "name": "ipython",
    "version": 2
   },
   "file_extension": ".py",
   "mimetype": "text/x-python",
   "name": "python",
   "nbconvert_exporter": "python",
   "pygments_lexer": "ipython2",
   "version": "2.7.6"
  }
 },
 "nbformat": 4,
 "nbformat_minor": 5
}