{
 "cells": [
  {
   "cell_type": "code",
   "id": "initial_id",
   "metadata": {
    "collapsed": true,
    "ExecuteTime": {
     "end_time": "2025-09-09T04:00:40.145592Z",
     "start_time": "2025-09-09T04:00:39.513434Z"
    }
   },
   "source": [
    "import psycopg2\n",
    "import pandas as pd\n"
   ],
   "outputs": [],
   "execution_count": 1
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-09-09T04:02:28.207130Z",
     "start_time": "2025-09-09T04:02:28.194882Z"
    }
   },
   "cell_type": "code",
   "source": [
    "DB_CONFIG = {\n",
    "    'host': 'localhost',\n",
    "    'port': 5432,\n",
    "    'user': 'auser',\n",
    "    'password': 'Practica1_g4',\n",
    "    'dbname': 'postgres'\n",
    "}\n",
    "DB_ANOMALIAS = 'postgres'\n",
    "CSV_PATH = ['/Users/fernandocalderon05/Escritorio2/UIDE/MAESTRIA/4. INTELIGENCIA DE NEGOCIOS/PRACTICA 1/Practica1_G4/IN_P1_G4/dataset/population_data.csv']\n",
    "BATCH_SIZE = 10\n",
    "MAX_WORKERS = 10"
   ],
   "id": "d8825cd4dc1a87c2",
   "outputs": [],
   "execution_count": 2
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-09-09T04:02:35.869902Z",
     "start_time": "2025-09-09T04:02:35.860385Z"
    }
   },
   "cell_type": "code",
   "source": [
    "def verificar_conexion():\n",
    "    try:\n",
    "        with psycopg2.connect(**DB_CONFIG) as conn:\n",
    "            with conn.cursor() as cur:\n",
    "                cur.execute(\"SELECT 1;\")\n",
    "                _ = cur.fetchone()\n",
    "        print(\"✅ Conexión exitosa a PostgreSQL.\")\n",
    "    except Exception as e:\n",
    "        print(f\"❌ Error al conectar: {e}\")"
   ],
   "id": "6ef58c92032e31de",
   "outputs": [],
   "execution_count": 3
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-09-09T04:02:38.626929Z",
     "start_time": "2025-09-09T04:02:38.622293Z"
    }
   },
   "cell_type": "code",
   "source": [
    "def crear_tabla(column_names, tabla='population'):\n",
    "    columns_str = ', '.join([f'\"{col}\" VARCHAR(100)' for col in column_names])\n",
    "    sql = f\"CREATE TABLE IF NOT EXISTS {tabla} (id SERIAL PRIMARY KEY,{columns_str});\"\n",
    "    try:\n",
    "        with psycopg2.connect(**DB_CONFIG) as conn:\n",
    "            with conn.cursor() as cur:\n",
    "                cur.execute(sql)\n",
    "                conn.commit()\n",
    "        print(\"✅ Tabla creada.\")\n",
    "    except Exception as e:\n",
    "        print(f\"❌ Error al crear la tabla: {e}\")"
   ],
   "id": "12d87a98ae064844",
   "outputs": [],
   "execution_count": 4
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-09-09T04:02:41.448133Z",
     "start_time": "2025-09-09T04:02:41.442784Z"
    }
   },
   "cell_type": "code",
   "source": [
    "def consulta_a_dataframe(query, params=None):\n",
    "    try:\n",
    "        with psycopg2.connect(**DB_CONFIG) as conn:\n",
    "            df = pd.read_sql_query(query, conn, params=params)\n",
    "        print(\"✅ Consulta ejecutada con éxito.\")\n",
    "        return df\n",
    "    except Exception as e:\n",
    "        print(f\"❌ Error al ejecutar consulta: {e}\")\n",
    "        return pd.DataFrame()  # retorna vacío si falla"
   ],
   "id": "8400af029aa2d6f",
   "outputs": [],
   "execution_count": 5
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-09-09T04:02:43.965402Z",
     "start_time": "2025-09-09T04:02:43.958580Z"
    }
   },
   "cell_type": "code",
   "source": [
    "def insertar_registros(data, tabla='population'):\n",
    "    try:\n",
    "        # Columnas entre comillas dobles si tienen espacios o mayúsculas\n",
    "        columnas = ', '.join([f'\"{col}\"' for col in data.columns])\n",
    "        placeholders = ', '.join(['%s'] * len(data.columns))\n",
    "        sql = f\"INSERT INTO {tabla} ({columnas}) VALUES ({placeholders});\"\n",
    "        with psycopg2.connect(**DB_CONFIG) as conn:\n",
    "            with conn.cursor() as cur:\n",
    "                for row in data.itertuples(index=False, name=None):\n",
    "                    cur.execute(sql, row)\n",
    "            conn.commit()\n",
    "\n",
    "        print(f\"✅ Insertados {len(data)} registros.\")\n",
    "\n",
    "    except Exception as e:\n",
    "        print(f\"❌ Error al insertar dato: {e}\")"
   ],
   "id": "ed786a1e7a8d8ab7",
   "outputs": [],
   "execution_count": 6
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-09-09T04:04:20.786656Z",
     "start_time": "2025-09-09T04:04:20.555803Z"
    }
   },
   "cell_type": "code",
   "source": [
    "def main():\n",
    "    try:\n",
    "        verificar_conexion()\n",
    "\n",
    "        print(\"⏳ Leyendo archivo CSV...\")\n",
    "        for csv_path in CSV_PATH:\n",
    "            df = pd.read_csv(csv_path, delimiter=',', encoding='utf-8')\n",
    "            column_names = df.columns.tolist()\n",
    "            crear_tabla(column_names)\n",
    "            insertar_registros(df)\n",
    "        print(\"⏳ Insertando registros en la base de datos...\")\n",
    "    except Exception as e:\n",
    "        print(f\"❌ Error en el proceso principal: {e}\")\n",
    "\n",
    "if __name__ == '__main__':\n",
    "    main()"
   ],
   "id": "5a82fd5931320162",
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "✅ Conexión exitosa a PostgreSQL.\n",
      "⏳ Leyendo archivo CSV...\n",
      "✅ Tabla creada.\n",
      "✅ Insertados 264 registros.\n",
      "⏳ Insertando registros en la base de datos...\n"
     ]
    }
   ],
   "execution_count": 10
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "# A partir de aqui pueden hacer consultas a la base de datos y crear dataframes",
   "id": "5b18862af7cc0273"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-09-09T04:04:26.506191Z",
     "start_time": "2025-09-09T04:04:26.455688Z"
    }
   },
   "cell_type": "code",
   "source": [
    "## pueden crear varios df en base a la consulta que deseen hacer por ejemplo: df1\n",
    "df1 = consulta_a_dataframe(\"SELECT * FROM population LIMIT 5;\")\n",
    "df1.drop(columns=['Unnamed: 62'], inplace=True)\n",
    "df1.head()"
   ],
   "id": "ccd39d568318c486",
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "✅ Consulta ejecutada con éxito.\n"
     ]
    },
    {
     "name": "stderr",
     "output_type": "stream",
     "text": [
      "/var/folders/pd/0xzmj7j51p7997xsvfv18wsh0000gn/T/ipykernel_11051/1920335490.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.\n",
      "  df = pd.read_sql_query(query, conn, params=params)\n"
     ]
    },
    {
     "data": {
      "text/plain": [
       "    id Country Name Country Code     Indicator Name Indicator Code  \\\n",
       "0  530  Afghanistan          AFG  Population, total    SP.POP.TOTL   \n",
       "1  531       Angola          AGO  Population, total    SP.POP.TOTL   \n",
       "2  532      Albania          ALB  Population, total    SP.POP.TOTL   \n",
       "3  533      Andorra          AND  Population, total    SP.POP.TOTL   \n",
       "4  534   Arab World          ARB  Population, total    SP.POP.TOTL   \n",
       "\n",
       "         1960        1961        1962         1963         1964  ...  \\\n",
       "0   8996351.0   9166764.0   9345868.0    9533954.0    9731361.0  ...   \n",
       "1   5643182.0   5753024.0   5866061.0    5980417.0    6093321.0  ...   \n",
       "2   1608800.0   1659800.0   1711319.0    1762621.0    1814135.0  ...   \n",
       "3     13411.0     14375.0     15370.0      16412.0      17469.0  ...   \n",
       "4  92490932.0  95044497.0  97682294.0  100411076.0  103239902.0  ...   \n",
       "\n",
       "          2008         2009         2010         2011         2012  \\\n",
       "0   27294031.0   28004331.0   28803167.0   29708599.0   30696958.0   \n",
       "1   21759420.0   22549547.0   23369131.0   24218565.0   25096150.0   \n",
       "2    2947314.0    2927519.0    2913021.0    2905195.0    2900401.0   \n",
       "3      83861.0      84462.0      84449.0      83751.0      82431.0   \n",
       "4  339825483.0  348145094.0  356508908.0  364895878.0  373306993.0   \n",
       "\n",
       "          2013         2014         2015         2016         2017  \n",
       "0   31731688.0   32758020.0   33736494.0   34656032.0   35530081.0  \n",
       "1   25998340.0   26920466.0   27859305.0   28813463.0   29784193.0  \n",
       "2    2895092.0    2889104.0    2880703.0    2876101.0    2873457.0  \n",
       "3      80788.0      79223.0      78014.0      77281.0      76965.0  \n",
       "4  381702086.0  390043028.0  398304960.0  406452690.0  414491886.0  \n",
       "\n",
       "[5 rows x 63 columns]"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>id</th>\n",
       "      <th>Country Name</th>\n",
       "      <th>Country Code</th>\n",
       "      <th>Indicator Name</th>\n",
       "      <th>Indicator Code</th>\n",
       "      <th>1960</th>\n",
       "      <th>1961</th>\n",
       "      <th>1962</th>\n",
       "      <th>1963</th>\n",
       "      <th>1964</th>\n",
       "      <th>...</th>\n",
       "      <th>2008</th>\n",
       "      <th>2009</th>\n",
       "      <th>2010</th>\n",
       "      <th>2011</th>\n",
       "      <th>2012</th>\n",
       "      <th>2013</th>\n",
       "      <th>2014</th>\n",
       "      <th>2015</th>\n",
       "      <th>2016</th>\n",
       "      <th>2017</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>530</td>\n",
       "      <td>Afghanistan</td>\n",
       "      <td>AFG</td>\n",
       "      <td>Population, total</td>\n",
       "      <td>SP.POP.TOTL</td>\n",
       "      <td>8996351.0</td>\n",
       "      <td>9166764.0</td>\n",
       "      <td>9345868.0</td>\n",
       "      <td>9533954.0</td>\n",
       "      <td>9731361.0</td>\n",
       "      <td>...</td>\n",
       "      <td>27294031.0</td>\n",
       "      <td>28004331.0</td>\n",
       "      <td>28803167.0</td>\n",
       "      <td>29708599.0</td>\n",
       "      <td>30696958.0</td>\n",
       "      <td>31731688.0</td>\n",
       "      <td>32758020.0</td>\n",
       "      <td>33736494.0</td>\n",
       "      <td>34656032.0</td>\n",
       "      <td>35530081.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>531</td>\n",
       "      <td>Angola</td>\n",
       "      <td>AGO</td>\n",
       "      <td>Population, total</td>\n",
       "      <td>SP.POP.TOTL</td>\n",
       "      <td>5643182.0</td>\n",
       "      <td>5753024.0</td>\n",
       "      <td>5866061.0</td>\n",
       "      <td>5980417.0</td>\n",
       "      <td>6093321.0</td>\n",
       "      <td>...</td>\n",
       "      <td>21759420.0</td>\n",
       "      <td>22549547.0</td>\n",
       "      <td>23369131.0</td>\n",
       "      <td>24218565.0</td>\n",
       "      <td>25096150.0</td>\n",
       "      <td>25998340.0</td>\n",
       "      <td>26920466.0</td>\n",
       "      <td>27859305.0</td>\n",
       "      <td>28813463.0</td>\n",
       "      <td>29784193.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>532</td>\n",
       "      <td>Albania</td>\n",
       "      <td>ALB</td>\n",
       "      <td>Population, total</td>\n",
       "      <td>SP.POP.TOTL</td>\n",
       "      <td>1608800.0</td>\n",
       "      <td>1659800.0</td>\n",
       "      <td>1711319.0</td>\n",
       "      <td>1762621.0</td>\n",
       "      <td>1814135.0</td>\n",
       "      <td>...</td>\n",
       "      <td>2947314.0</td>\n",
       "      <td>2927519.0</td>\n",
       "      <td>2913021.0</td>\n",
       "      <td>2905195.0</td>\n",
       "      <td>2900401.0</td>\n",
       "      <td>2895092.0</td>\n",
       "      <td>2889104.0</td>\n",
       "      <td>2880703.0</td>\n",
       "      <td>2876101.0</td>\n",
       "      <td>2873457.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>533</td>\n",
       "      <td>Andorra</td>\n",
       "      <td>AND</td>\n",
       "      <td>Population, total</td>\n",
       "      <td>SP.POP.TOTL</td>\n",
       "      <td>13411.0</td>\n",
       "      <td>14375.0</td>\n",
       "      <td>15370.0</td>\n",
       "      <td>16412.0</td>\n",
       "      <td>17469.0</td>\n",
       "      <td>...</td>\n",
       "      <td>83861.0</td>\n",
       "      <td>84462.0</td>\n",
       "      <td>84449.0</td>\n",
       "      <td>83751.0</td>\n",
       "      <td>82431.0</td>\n",
       "      <td>80788.0</td>\n",
       "      <td>79223.0</td>\n",
       "      <td>78014.0</td>\n",
       "      <td>77281.0</td>\n",
       "      <td>76965.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>534</td>\n",
       "      <td>Arab World</td>\n",
       "      <td>ARB</td>\n",
       "      <td>Population, total</td>\n",
       "      <td>SP.POP.TOTL</td>\n",
       "      <td>92490932.0</td>\n",
       "      <td>95044497.0</td>\n",
       "      <td>97682294.0</td>\n",
       "      <td>100411076.0</td>\n",
       "      <td>103239902.0</td>\n",
       "      <td>...</td>\n",
       "      <td>339825483.0</td>\n",
       "      <td>348145094.0</td>\n",
       "      <td>356508908.0</td>\n",
       "      <td>364895878.0</td>\n",
       "      <td>373306993.0</td>\n",
       "      <td>381702086.0</td>\n",
       "      <td>390043028.0</td>\n",
       "      <td>398304960.0</td>\n",
       "      <td>406452690.0</td>\n",
       "      <td>414491886.0</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>5 rows × 63 columns</p>\n",
       "</div>"
      ]
     },
     "execution_count": 11,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 11
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-09-09T04:05:09.889502Z",
     "start_time": "2025-09-09T04:05:09.804040Z"
    }
   },
   "cell_type": "code",
   "source": [
    "df2 = consulta_a_dataframe(\"SELECT * FROM population LIMIT 15;\")\n",
    "df2.head(10)"
   ],
   "id": "ad3f9ff91ab09462",
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "✅ Consulta ejecutada con éxito.\n"
     ]
    },
    {
     "name": "stderr",
     "output_type": "stream",
     "text": [
      "/var/folders/pd/0xzmj7j51p7997xsvfv18wsh0000gn/T/ipykernel_11051/1920335490.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.\n",
      "  df = pd.read_sql_query(query, conn, params=params)\n"
     ]
    },
    {
     "data": {
      "text/plain": [
       "    id          Country Name Country Code     Indicator Name Indicator Code  \\\n",
       "0  530           Afghanistan          AFG  Population, total    SP.POP.TOTL   \n",
       "1  531                Angola          AGO  Population, total    SP.POP.TOTL   \n",
       "2  532               Albania          ALB  Population, total    SP.POP.TOTL   \n",
       "3  533               Andorra          AND  Population, total    SP.POP.TOTL   \n",
       "4  534            Arab World          ARB  Population, total    SP.POP.TOTL   \n",
       "5  535  United Arab Emirates          ARE  Population, total    SP.POP.TOTL   \n",
       "6  536             Argentina          ARG  Population, total    SP.POP.TOTL   \n",
       "7  537               Armenia          ARM  Population, total    SP.POP.TOTL   \n",
       "8  538        American Samoa          ASM  Population, total    SP.POP.TOTL   \n",
       "9  539   Antigua and Barbuda          ATG  Population, total    SP.POP.TOTL   \n",
       "\n",
       "         1960        1961        1962         1963         1964  ...  \\\n",
       "0   8996351.0   9166764.0   9345868.0    9533954.0    9731361.0  ...   \n",
       "1   5643182.0   5753024.0   5866061.0    5980417.0    6093321.0  ...   \n",
       "2   1608800.0   1659800.0   1711319.0    1762621.0    1814135.0  ...   \n",
       "3     13411.0     14375.0     15370.0      16412.0      17469.0  ...   \n",
       "4  92490932.0  95044497.0  97682294.0  100411076.0  103239902.0  ...   \n",
       "5     92634.0    101078.0    112472.0     125566.0     138529.0  ...   \n",
       "6  20619075.0  20953077.0  21287682.0   21621840.0   21953929.0  ...   \n",
       "7   1874120.0   1941491.0   2009526.0    2077575.0    2144998.0  ...   \n",
       "8     20013.0     20486.0     21117.0      21882.0      22698.0  ...   \n",
       "9     55339.0     56144.0     57144.0      58294.0      59524.0  ...   \n",
       "\n",
       "          2009         2010         2011         2012         2013  \\\n",
       "0   28004331.0   28803167.0   29708599.0   30696958.0   31731688.0   \n",
       "1   22549547.0   23369131.0   24218565.0   25096150.0   25998340.0   \n",
       "2    2927519.0    2913021.0    2905195.0    2900401.0    2895092.0   \n",
       "3      84462.0      84449.0      83751.0      82431.0      80788.0   \n",
       "4  348145094.0  356508908.0  364895878.0  373306993.0  381702086.0   \n",
       "5    7666393.0    8270684.0    8672475.0    8900453.0    9006263.0   \n",
       "6   40799407.0   41223889.0   41656879.0   42096739.0   42539925.0   \n",
       "7    2888584.0    2877311.0    2875581.0    2881922.0    2893509.0   \n",
       "8      56227.0      55637.0      55320.0      55230.0      55307.0   \n",
       "9      93581.0      94661.0      95719.0      96777.0      97824.0   \n",
       "\n",
       "          2014         2015         2016         2017 Unnamed: 62  \n",
       "0   32758020.0   33736494.0   34656032.0   35530081.0         NaN  \n",
       "1   26920466.0   27859305.0   28813463.0   29784193.0         NaN  \n",
       "2    2889104.0    2880703.0    2876101.0    2873457.0         NaN  \n",
       "3      79223.0      78014.0      77281.0      76965.0         NaN  \n",
       "4  390043028.0  398304960.0  406452690.0  414491886.0         NaN  \n",
       "5    9070867.0    9154302.0    9269612.0    9400145.0         NaN  \n",
       "6   42981515.0   43417765.0   43847430.0   44271041.0         NaN  \n",
       "7    2906220.0    2916950.0    2924816.0    2930450.0         NaN  \n",
       "8      55437.0      55537.0      55599.0      55641.0         NaN  \n",
       "9      98875.0      99923.0     100963.0     102012.0         NaN  \n",
       "\n",
       "[10 rows x 64 columns]"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>id</th>\n",
       "      <th>Country Name</th>\n",
       "      <th>Country Code</th>\n",
       "      <th>Indicator Name</th>\n",
       "      <th>Indicator Code</th>\n",
       "      <th>1960</th>\n",
       "      <th>1961</th>\n",
       "      <th>1962</th>\n",
       "      <th>1963</th>\n",
       "      <th>1964</th>\n",
       "      <th>...</th>\n",
       "      <th>2009</th>\n",
       "      <th>2010</th>\n",
       "      <th>2011</th>\n",
       "      <th>2012</th>\n",
       "      <th>2013</th>\n",
       "      <th>2014</th>\n",
       "      <th>2015</th>\n",
       "      <th>2016</th>\n",
       "      <th>2017</th>\n",
       "      <th>Unnamed: 62</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>530</td>\n",
       "      <td>Afghanistan</td>\n",
       "      <td>AFG</td>\n",
       "      <td>Population, total</td>\n",
       "      <td>SP.POP.TOTL</td>\n",
       "      <td>8996351.0</td>\n",
       "      <td>9166764.0</td>\n",
       "      <td>9345868.0</td>\n",
       "      <td>9533954.0</td>\n",
       "      <td>9731361.0</td>\n",
       "      <td>...</td>\n",
       "      <td>28004331.0</td>\n",
       "      <td>28803167.0</td>\n",
       "      <td>29708599.0</td>\n",
       "      <td>30696958.0</td>\n",
       "      <td>31731688.0</td>\n",
       "      <td>32758020.0</td>\n",
       "      <td>33736494.0</td>\n",
       "      <td>34656032.0</td>\n",
       "      <td>35530081.0</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>531</td>\n",
       "      <td>Angola</td>\n",
       "      <td>AGO</td>\n",
       "      <td>Population, total</td>\n",
       "      <td>SP.POP.TOTL</td>\n",
       "      <td>5643182.0</td>\n",
       "      <td>5753024.0</td>\n",
       "      <td>5866061.0</td>\n",
       "      <td>5980417.0</td>\n",
       "      <td>6093321.0</td>\n",
       "      <td>...</td>\n",
       "      <td>22549547.0</td>\n",
       "      <td>23369131.0</td>\n",
       "      <td>24218565.0</td>\n",
       "      <td>25096150.0</td>\n",
       "      <td>25998340.0</td>\n",
       "      <td>26920466.0</td>\n",
       "      <td>27859305.0</td>\n",
       "      <td>28813463.0</td>\n",
       "      <td>29784193.0</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>532</td>\n",
       "      <td>Albania</td>\n",
       "      <td>ALB</td>\n",
       "      <td>Population, total</td>\n",
       "      <td>SP.POP.TOTL</td>\n",
       "      <td>1608800.0</td>\n",
       "      <td>1659800.0</td>\n",
       "      <td>1711319.0</td>\n",
       "      <td>1762621.0</td>\n",
       "      <td>1814135.0</td>\n",
       "      <td>...</td>\n",
       "      <td>2927519.0</td>\n",
       "      <td>2913021.0</td>\n",
       "      <td>2905195.0</td>\n",
       "      <td>2900401.0</td>\n",
       "      <td>2895092.0</td>\n",
       "      <td>2889104.0</td>\n",
       "      <td>2880703.0</td>\n",
       "      <td>2876101.0</td>\n",
       "      <td>2873457.0</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>533</td>\n",
       "      <td>Andorra</td>\n",
       "      <td>AND</td>\n",
       "      <td>Population, total</td>\n",
       "      <td>SP.POP.TOTL</td>\n",
       "      <td>13411.0</td>\n",
       "      <td>14375.0</td>\n",
       "      <td>15370.0</td>\n",
       "      <td>16412.0</td>\n",
       "      <td>17469.0</td>\n",
       "      <td>...</td>\n",
       "      <td>84462.0</td>\n",
       "      <td>84449.0</td>\n",
       "      <td>83751.0</td>\n",
       "      <td>82431.0</td>\n",
       "      <td>80788.0</td>\n",
       "      <td>79223.0</td>\n",
       "      <td>78014.0</td>\n",
       "      <td>77281.0</td>\n",
       "      <td>76965.0</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>534</td>\n",
       "      <td>Arab World</td>\n",
       "      <td>ARB</td>\n",
       "      <td>Population, total</td>\n",
       "      <td>SP.POP.TOTL</td>\n",
       "      <td>92490932.0</td>\n",
       "      <td>95044497.0</td>\n",
       "      <td>97682294.0</td>\n",
       "      <td>100411076.0</td>\n",
       "      <td>103239902.0</td>\n",
       "      <td>...</td>\n",
       "      <td>348145094.0</td>\n",
       "      <td>356508908.0</td>\n",
       "      <td>364895878.0</td>\n",
       "      <td>373306993.0</td>\n",
       "      <td>381702086.0</td>\n",
       "      <td>390043028.0</td>\n",
       "      <td>398304960.0</td>\n",
       "      <td>406452690.0</td>\n",
       "      <td>414491886.0</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>5</th>\n",
       "      <td>535</td>\n",
       "      <td>United Arab Emirates</td>\n",
       "      <td>ARE</td>\n",
       "      <td>Population, total</td>\n",
       "      <td>SP.POP.TOTL</td>\n",
       "      <td>92634.0</td>\n",
       "      <td>101078.0</td>\n",
       "      <td>112472.0</td>\n",
       "      <td>125566.0</td>\n",
       "      <td>138529.0</td>\n",
       "      <td>...</td>\n",
       "      <td>7666393.0</td>\n",
       "      <td>8270684.0</td>\n",
       "      <td>8672475.0</td>\n",
       "      <td>8900453.0</td>\n",
       "      <td>9006263.0</td>\n",
       "      <td>9070867.0</td>\n",
       "      <td>9154302.0</td>\n",
       "      <td>9269612.0</td>\n",
       "      <td>9400145.0</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>6</th>\n",
       "      <td>536</td>\n",
       "      <td>Argentina</td>\n",
       "      <td>ARG</td>\n",
       "      <td>Population, total</td>\n",
       "      <td>SP.POP.TOTL</td>\n",
       "      <td>20619075.0</td>\n",
       "      <td>20953077.0</td>\n",
       "      <td>21287682.0</td>\n",
       "      <td>21621840.0</td>\n",
       "      <td>21953929.0</td>\n",
       "      <td>...</td>\n",
       "      <td>40799407.0</td>\n",
       "      <td>41223889.0</td>\n",
       "      <td>41656879.0</td>\n",
       "      <td>42096739.0</td>\n",
       "      <td>42539925.0</td>\n",
       "      <td>42981515.0</td>\n",
       "      <td>43417765.0</td>\n",
       "      <td>43847430.0</td>\n",
       "      <td>44271041.0</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>7</th>\n",
       "      <td>537</td>\n",
       "      <td>Armenia</td>\n",
       "      <td>ARM</td>\n",
       "      <td>Population, total</td>\n",
       "      <td>SP.POP.TOTL</td>\n",
       "      <td>1874120.0</td>\n",
       "      <td>1941491.0</td>\n",
       "      <td>2009526.0</td>\n",
       "      <td>2077575.0</td>\n",
       "      <td>2144998.0</td>\n",
       "      <td>...</td>\n",
       "      <td>2888584.0</td>\n",
       "      <td>2877311.0</td>\n",
       "      <td>2875581.0</td>\n",
       "      <td>2881922.0</td>\n",
       "      <td>2893509.0</td>\n",
       "      <td>2906220.0</td>\n",
       "      <td>2916950.0</td>\n",
       "      <td>2924816.0</td>\n",
       "      <td>2930450.0</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>8</th>\n",
       "      <td>538</td>\n",
       "      <td>American Samoa</td>\n",
       "      <td>ASM</td>\n",
       "      <td>Population, total</td>\n",
       "      <td>SP.POP.TOTL</td>\n",
       "      <td>20013.0</td>\n",
       "      <td>20486.0</td>\n",
       "      <td>21117.0</td>\n",
       "      <td>21882.0</td>\n",
       "      <td>22698.0</td>\n",
       "      <td>...</td>\n",
       "      <td>56227.0</td>\n",
       "      <td>55637.0</td>\n",
       "      <td>55320.0</td>\n",
       "      <td>55230.0</td>\n",
       "      <td>55307.0</td>\n",
       "      <td>55437.0</td>\n",
       "      <td>55537.0</td>\n",
       "      <td>55599.0</td>\n",
       "      <td>55641.0</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>9</th>\n",
       "      <td>539</td>\n",
       "      <td>Antigua and Barbuda</td>\n",
       "      <td>ATG</td>\n",
       "      <td>Population, total</td>\n",
       "      <td>SP.POP.TOTL</td>\n",
       "      <td>55339.0</td>\n",
       "      <td>56144.0</td>\n",
       "      <td>57144.0</td>\n",
       "      <td>58294.0</td>\n",
       "      <td>59524.0</td>\n",
       "      <td>...</td>\n",
       "      <td>93581.0</td>\n",
       "      <td>94661.0</td>\n",
       "      <td>95719.0</td>\n",
       "      <td>96777.0</td>\n",
       "      <td>97824.0</td>\n",
       "      <td>98875.0</td>\n",
       "      <td>99923.0</td>\n",
       "      <td>100963.0</td>\n",
       "      <td>102012.0</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>10 rows × 64 columns</p>\n",
       "</div>"
      ]
     },
     "execution_count": 12,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 12
  }
 ],
 "metadata": {
  "kernelspec": {
   "display_name": "Python 3",
   "language": "python",
   "name": "python3"
  },
  "language_info": {
   "codemirror_mode": {
    "name": "ipython",
    "version": 2
   },
   "file_extension": ".py",
   "mimetype": "text/x-python",
   "name": "python",
   "nbconvert_exporter": "python",
   "pygments_lexer": "ipython2",
   "version": "2.7.6"
  }
 },
 "nbformat": 4,
 "nbformat_minor": 5
}